$lightblue: #9cbfda;
$blue: #0173b2;
$darkblue: #2a2d3e;

$darkgrey: #525659;
$grey: #999;

$white: #fff;
$black: #000;

$green: rgb(27, 184, 18);
$lightgrey2: rgb(219, 217, 217);



// $lightblue : #a1c1c1;
// $darkblue: #082740;
// $lightgrey: #f2f2f2;
// $darkgrey: #a1a197;
// $blue: #008ae6;
// $grey: grey;
// $white: #fff;
// $black: #000;
// $blueshade: rgb(190, 226, 247);
// $green: rgb(27, 184, 18);
// $lightgrey2: rgb(219, 217, 217);



@font-face{
    font-family: Nexa-Bold;
    src: url(../assets/Nexa-Bold.otf);
}

@font-face{
    font-family: Nexa-Light;
    src: url(../assets/Nexa-Light.otf);
}

@mixin transition-ease{
    transition: all .5s ease-in-out;
}

*{
    text-align: center; 
    box-sizing: border-box;
}