@import 'config';

body{
    display: flex;
    flex-direction: column;
    background-color: $lightblue;
    height: 100vh;
    justify-content: space-between;
        
    
    main{
        
        height: auto;
        align-self: center;
        .book-detail{  
            padding:0;
            background-color: $white;
            width: 350px;
            margin: 0;
            

            h3{
                text-align: center;
                width: 100%;;
                color: $blue;
                padding:1.3rem;
                border-bottom: 1px solid $grey;
                margin-bottom:.5rem;
            }
            
            .book{
                padding:1rem;
                h5{
                    text-align: left;

                }
                .book-info-and{
                    margin: 1rem 0;
                    .book-info{
                        text-align: left;
                    }
                }
                input[type=date]{
                    padding: .3rem;
                    border:1px solid $grey;
                    width: 100%;

                }
                
                input[type=radio]{
                    margin: .2rem 0;
                    width: auto;
                    height: auto;
                    padding-left:1rem;
                    margin-right:1rem;
                    text-align: left;
                    color: $black;
                }
                
                textarea{
                    border:none;
                    border:1px solid $grey;
                    width: 100%;
                }

                #place{
                    width:45%;
                }
                button{
                    width: 100%;
                    margin-bottom: 1rem;
                    height: 3.5rem;
                    span{
                        float: right;
                    }
                }
            }

            h6{
                text-align: center;
                padding:1rem;
                span{
                    color: $blue;
                }
            }
        }
    }

    footer{
        padding: 0;
        margin: 0;
        padding-bottom:.5rem;
        // flex:1;
        height: auto;;
        align-self: center;
        background-color: $lightblue;
        .last-line{
            
            h5{
                text-align: center;
                color:black;
            }
        }
    }
}

@media (min-width:700px){
    body{


        main{
            .book-detail{
                width: 500px;
            }
        }

        footer{
            display: block;
            align-self: center;
            
        }
    }
}

@media (min-width: 1024px){
    body{

        main{
            .book-detail{
                width: 600px;
                h3{
                    font-size:1rem;
                }
                .login{
                    input{
                        height: 1.4rem;;
                    }
                    button{
                        height: 1.8rem;
                    }
                }
            }
        }
    }
}
