@import 'config';
body{
    border-bottom:.5rem solid $blue;
}

.contact-heading{
    padding: 3rem;;
    height: 100%;
    background: url("../assets/contactUs.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    .top{
        margin:4rem;
        line-height: 3rem;;
        h1{
            color: white;
        }
        h5{
            color: white;
        }
    }
}


.info{
    padding:1rem;
    margin: 1.5rem;
    border: 1px solid $grey;

    .img-and-btn{
        width: 100%;
        margin-bottom: 2rem;

        img{
            width: 100%;
        }

        button{
            margin:1rem 0;
            width: 100%;
        }
    }

    .name-details{
        h2{
            color:$blue;
        }
        .detail-elements{
            .detail-element-head{
                border-bottom: 1px dashed $grey;
                border-top: 1px dashed $grey;
                padding: .7rem 0;
                display: flex;
                i{
                    color: $blue;
                    padding: .3rem .5rem;
                }
                .flex-div{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    h3{
                        padding-top:.3rem;
                        padding-left:1rem;
                        color: $blue;
                    }
                    
                    div{
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $lightblue;
                        // i{padding:.3rem .5rem}

                    }
                    
                }
            }
            .detail-para{
                background-color: $lightblue;
                margin: 0;
                padding:1rem;
                text-align: left;
            }
        }
    }
}

@media (min-width: 700px){
    .info{
        margin:3rem;
        display: flex;
        flex-direction: row-reverse;

        .img-and-btn{
            flex: 4;
            margin-left: 1rem;
        }
        .name-details{
            flex: 7;
            h2{
                text-align: left;
            }
            P{
                text-align: left;
            }
        }
    }
}

@media (min-width: 1024px){
    .info{
        margin:3rem 5rem;
        padding: 3rem;

        .img-and-btn{
            flex: 3;
        }
        .name-details{
            flex:8;
            .detail-elements{
                .detail-element-head{
                    padding: 1rem;
                }
            }
        }
    }
}