@import 'config';


@media (min-width: 700px){

       
    .cards{      
        display: flex;

        .filters{
            display: none;
        }

        .card{
            .card-all{
                button{
                    width: 10rem;
                }
            }
        }
    }
}

@media (min-width: 1024px){

    .cards{
        display: grid;
        grid-template-columns: 1fr, 3fr;


        .filters{
            display: block;
        }
    }

}