@import 'config';

.find-affordable-healthcare{
    background-image: url(../assets/img1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    // padding:2rem 1rem;
    height: 100%;

    .search-healthcare{
        width: 100%;

        .location{
            display: flex;
            border: rem solid $black;
            width: 100%;
            margin: .5rem 0;
            .map-marker{
                
                i{
                    background-color: $white;
                    padding: .72rem;
                }
            }

            input{
                font-size:1rem;
                border:none;
                text-align: left;
            }

            .gps{
                background-color: $white;
                padding: .76rem;
                
                .gps-img{
                    height: .8rem;
                }
            }

        }

        .search{
            width: 100%;
            margin:.5rem 0;
            input{
                height: 41px;
                border: none;
            }
        }

        .search-submit{
            margin:0.5rem 0;
            font-family: .8rem;
            border-radius: 0;
            padding: 0 2.5rem ;
        }
    }
}



.how-it-works{
    // padding: 2rem 1rem;
    height: 100%;

    .works-btns{
        .works-btn{
            width: 100%;
            height:3.5rem;
            background-color: white;
            padding: 1rem;
            padding: auto;
            border-radius: 5px;
            margin:.4rem;
        }

        .works-img-small{
            width: 100%;
            height: 100%;

            img{
                padding: 1.5rem 0;
                width: 90%;
            }
        }

        .works-img-large-all{

            .works-img-large{
                display: none;
            }
        }
    }

    
}


.world-class{
    // padding: 2rem 1rem;
    height: 100%;

    background-color: $darkblue;
    color: $white;
    h2,h3,h4,h5,h6{
        color: $white;
    }

    .doctors-cards{

        display: flex;
        flex-wrap: wrap;

        .doctor-card{
            margin-top: 1rem;
            background-color: $white;
            padding-bottom:1rem;
            border-bottom: 4px solid $lightblue;
            
            .doctor-card-img{
                width: 100%;
                height: 52vh;
                img{
                    width: 100%;
                    height: 50vh;
                    object-fit: cover;
                }
            }

            .doctor-card-desc{
                padding-left: 3rem;

                h4{
                    text-align: left;
                  font-family: Nexa-Bold;
                  padding: .5rem 0;
                  color: $blue;  
                }

                h5{
                    text-align: left;
                    font-family: Nexa-Light;
                    line-height: 1.2rem;
                    color: $black;
                }
            }
        }
    }
}


.medical-treatment{
    // padding:2rem 1rem;
    height: 100%;

    .treatment-cards{
        display: flex;
        flex-direction: column;
        width: 100%;

        .treatment-card01{
            
            background-image: url(../assets/image--009.jpg);
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center;
            margin-bottom:1rem; 
            
            .treatment-card-desc{
                padding-top: 42vh;
                padding-left:1rem;
                height:  50vh;
                background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                width: 100%;
                h4{
                    color: $white;
                    text-align: left;
                }
                h5{
                    text-align: left;
                    color: $white;
                    font-family: Nexa-Light;
                }
            }
        }
        .treatment-card02{
            
            background-image: url(../assets/image--010.jpg);
            background-size:cover;
            background-repeat: no-repeat; 
            background-position: center; 
            margin-bottom:1rem;

            .treatment-card-desc{
                padding-top: 42vh;
                padding-left:1rem;
                height:50vh;
                background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                width: 100%;
                h4{
                    color: $white;
                    text-align: left;
                }
                h5{
                    text-align: left;
                    color: $white;
                    font-family: Nexa-Light;
                }
            }
        }
        .treatment-card03{
            
            background-image: url(../assets/image--007.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-bottom:1rem;  

            .treatment-card-desc{
                padding-top: 42vh;
                padding-left: 1rem;
                height: 50vh;
                background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                width: 100%;
                h4{
                    color: $white;
                    text-align: left;
                }
                h5{
                    text-align: left;
                    color: $white;
                    font-family: Nexa-Light;
                }
            }
        }
        .treatment-card04{
            
            background-image: url(../assets/image--008.jpg);
            background-size: cover;
            background-repeat: no-repeat;  
            background-position: center;
            margin-bottom:1rem;

            .treatment-card-desc{
                padding-top:42vh;
                padding-left:1rem;
                height: 50vh;;
                background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                width: 100%;
                h4{
                    color: $white;
                    text-align: left;
                }
                h5{
                    text-align: left;
                    color: $white;
                    font-family: Nexa-Light;
                }
            }
        }
        .treatment-card05{
            
            background-image: url(../assets/image--009.jpg);
            background-size: cover;
            background-repeat: no-repeat;  
            background-position: center;
            margin-bottom:1rem;

            .treatment-card-desc{
                padding-top:42vh;
                padding-left:1rem;
                height: 50vh;
                background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                width: 100%;
                h4{
                    color: $white;
                    text-align: left;
                }
                h5{
                    text-align: left;
                    color: $white;
                    font-family: Nexa-Light;
                }
            }
        }
        .treatment-card06{
            
            background-image: url(../assets/image--009.jpg);
            background-size: cover;
            background-repeat: no-repeat;  
            background-position: center;
            margin-bottom:1rem;

            .treatment-card-desc{
                padding-top: 42vh;
                padding-left: 1rem;
                height: 50vh;
                background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                width: 100%;
                h4{
                    color: $white;
                    text-align: left;
                }
                h5{
                    text-align: left;
                    color: $white;
                    font-family: Nexa-Light;
                }
            }
        }
    }
}


.services{
    background-color: $lightgrey;
    // padding:2rem 1rem;
    height: 100%;

    .service-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;

        .service-card{
            background-color: $white;
            border-radius: 1rem;
        }
    }
}





@media (min-width:700px){

    .find-affordable-healthcare{

        .search-healthcare{
            display: flex;

            .location{
                display: flex;
                width: 35%;
                border: 1px solid $lightgrey;
                margin: .5rem 0;
                .map-marker{
                    
                    i{
                        background-color: $white;
                        padding: .72rem;
                    }
                }
    
                input{
                    font-size:1rem;
                    border:none;
                    text-align: left;
                    width: 100%;
                }
    
                .gps{
                    background-color: $white;
                    padding: .76rem;
                    
                    .gps-img{
                        height: .8rem;
                    }
                }
    
            }

            .search{
                width: 60%;
            }
    
            .search-submit{
                margin:.5rem 0;
                font-family: .8rem;
                border-radius: 0;
                padding: 0 2.5rem ;
            }
        }
    }


    .how-it-works{    

        .works-btns{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;;
            
            .works-btn-small-all{
                width: 90%;;
                .works-btn{
                    width: 100%;
                }
        
                .works-img-small{
                    display: none;
                }
        
            }
            .works-img-large-all{
    
                .works-img-large{
                    display: block;
                    width:90%;

                    img{
                        padding-top: 1rem;
                        width: 100%;;
                    }
                }
            }
        }
    
        
    }
    


    .world-class{
        padding: 2rem 1rem;
        height: 100%;
        background-color: $darkblue;
        color: $white;
        h2,h3,h4,h5,h6{
            color: $white;
        }
    
        .doctors-cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap:1rem;
    
            .doctor-card{
                
                background-color: $white;
                padding-bottom:1rem;
                border-bottom: 4px solid $lightblue;

                .doctor-card-img{
                    width: 100%;
                    height: 60vh;
                    img{
                        width: 90%;
                        height: 60vh;
                        object-fit: cover;
                    }
                }
            }
        }
    }  
    

    .medical-treatment{
       
        .treatment-cards{
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-column-gap: 1rem;
        }
    }

    .services{
        .service-cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (min-width:1024px){
    
    
    .find-affordable-healthcare{
        padding:8rem 5rem;
        p{
            width: 50%;
        }

        .search-healthcare{
            width:800px;

            .location{
                display: flex;
                width: 35%;
                border: 1px solid $lightgrey;
                margin: .5rem 0;
                .map-marker{
                    i{
                        background-color: $white;
                        padding: 1rem;
                    }
                }
    
                input{
                    font-size:1rem;
                    border:none;
                    text-align: left;
                    width: 100%;
                    height: 3rem;
                    text-align: center;
                    ::placeholder{
                        text-align: center;
                    }
                }
    
                .gps{
                    background-color: $white;
                    padding: 1rem;
                    
                    .gps-img{
                        height: .8rem;
                    }
                }
            }

            .search{
                width: 60%;
                height: 3.1rem;
                input{
                    height: 3.1rem;;
                }
            }
    
            .search-submit{
                margin:.5rem 0;
                font-size: .8rem;
                border-radius: 0;
                width: 150px;
                height: 3.1rem;

                button{
                    height: 3.1rem;
                    width: 150px;;
                }
            }
        }
    }

    .how-it-works{
        padding: 5rem;
        height: 100%;
    
        .works-btns{
            .works-btn{
                width:40%;    
            }            
        }
    }

    .world-class{
        padding: 5rem;

        .doctors-cards{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
               
            .doctor-card{
                height: 55vh;
                .doctor-card-img{
                    width: 100%;
                    height: 40vh;
                    img{
                        width: 100%;
                        height: 40vh;
                        object-fit: cover;
                    }
                }
    
                .doctor-card-desc{
                    h5{
                        font-size:.8rem;
                        line-height: 1rem;;
                    }
                }
            }
        }
    }

    .medical-treatment{
        padding:5rem;
        
        .treatment-cards{
            display: grid;
            grid-template-rows: repeat(10,5rem);
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 0;
    
            .treatment-card01{
                
                background-image: url(../assets/image--009.jpg);
                background-size: cover;
                background-repeat: no-repeat; 
                background-position: center;
                margin-bottom:0; 
                margin:3px;

                grid-row-start: 1;
                grid-row-end:4;
                grid-column:1;
                
                .treatment-card-desc{
                    padding-top: 12rem;
                    padding-left:1rem;
                    height:  100%;
                    background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                    width: 100%;
                    h4{
                        color: $white;
                        text-align: left;
                    }
                    h5{
                        text-align: left;
                        color: $white;
                        font-family: Nexa-Light;
                    }
                }
            }
            .treatment-card02{
                
                background-image: url(../assets/image--010.jpg);
                background-size:cover;
                background-repeat: no-repeat; 
                background-position: center; 
                margin-bottom:0rem;
                margin:3px;
                grid-row-start: 1;
                grid-row-end: 6;
                grid-column: 2;
    
                .treatment-card-desc{
                    padding-top: 22rem;
                    padding-left:1rem;
                    height:100%;
                    background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                    width: 100%;
                    h4{
                        color: $white;
                        text-align: left;
                    }
                    h5{
                        text-align: left;
                        color: $white;
                        font-family: Nexa-Light;
                    }
                }
            }
            .treatment-card03{
                
                background-image: url(../assets/image--007.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin-bottom:0rem;  
                margin:3px;
                grid-row-start: 1;
                grid-row-end: 5;
                grid-column: 3;
                .treatment-card-desc{
                    padding-top: 17rem;
                    padding-left: 1rem;
                    height: 100%;
                    background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                    width: 100%;
                    h4{
                        color: $white;
                        text-align: left;
                    }
                    h5{
                        text-align: left;
                        color: $white;
                        font-family: Nexa-Light;
                    }
                }
            }
            .treatment-card04{
                
                background-image: url(../assets/image--008.jpg);
                background-size: cover;
                background-repeat: no-repeat;  
                background-position: center;
                margin-bottom:0rem;
                margin:3px;
                grid-row-start: 4;
                grid-row-end:11;
                grid-column: 1;
                .treatment-card-desc{
                    padding-top:32rem;
                    padding-left:1rem;
                    height: 100%;
                    background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                    width: 100%;
                    h4{
                        color: $white;
                        text-align: left;
                    }
                    h5{
                        text-align: left;
                        color: $white;
                        font-family: Nexa-Light;
                    }
                }
            }
            .treatment-card05{
                
                background-image: url(../assets/image--009.jpg);
                background-size: cover;
                background-repeat: no-repeat;  
                background-position: center;
                margin-bottom:0rem;
                margin:3px;
                grid-row-start: 6;
                grid-row-end: 11;
                grid-column: 2;
                .treatment-card-desc{
                    padding-top:22rem;
                    padding-left:1rem;
                    height: 100%;
                    background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                    width: 100%;
                    h4{
                        color: $white;
                        text-align: left;
                    }
                    h5{
                        text-align: left;
                        color: $white;
                        font-family: Nexa-Light;
                    }
                }
            }
            .treatment-card06{
                
                background-image: url(../assets/image--009.jpg);
                background-size: cover;
                background-repeat: no-repeat;  
                background-position: center;
                margin-bottom:0rem;
                margin:3px;
                grid-row-start: 5;
                grid-row-end: 11;
                grid-column: 3;
                .treatment-card-desc{
                    padding-top: 27rem;
                    padding-left: 1rem;
                    height:100%;
                    background-image: linear-gradient(to top, rgba(0, 0,0,0.9), rgba(0,0,0,0));
                    width: 100%;
                    h4{
                        color: $white;
                        text-align: left;
                    }
                    h5{
                        text-align: left;
                        color: $white;
                        font-family: Nexa-Light;
                    }
                }
            }
        }
    }
    
    .services{
        // padding:5rem;
        width: 100%;
        .service-cards{
            // width: 100%;
            grid-template-columns: repeat(6,1fr);;
            grid-gap:3px;
            .service-card{            
                border-radius: 0;
                padding:1rem;
                h5{
                    text-align: center;
                }
            }
        }
    }

    
}