@import 'config';

body{
    display: flex;
    flex-direction: column;
    background-color: $lightblue;
    height: 100vh;
    justify-content: space-between;

    main{
        align-self: center;
        box-shadow: .5rem .5rem .5rem $grey;
        .login-detail{  
            padding:0;
            background-color: $white;
            width: 350px;

            h3{
                text-align: center;
                width: 100%;;
                color: $blue;
                padding:1.3rem;
                border-bottom: 1px solid $grey;
                margin-bottom:.5rem;
            }
            
            .login{
                padding-top:1rem;
                // width: 90%;
                padding:2rem;
                .email-div{
                    display: flex;
                    border: 1px solid $lightgrey2;
                    height: 100%;
                    margin-bottom:.8rem;
                    align-items: center;
                    justify-content: space-around;
                    input{
                        border:none;
                        margin:0;
                        flex:6;
                    }
                    i{
                        flex:1;
                        color:$lightgrey2;
                    }
                }
                input{
                    text-align: left;
                    margin-bottom: .8rem;
                    height: 2.5rem;
                }
                button{
                    width: 100%;
                    margin-bottom: 1rem;
                    height: 2.5rem;;
                    span{
                        float: right;
                    }
                }
            }

            h6{
                text-align: center;
                padding:1rem;
                a{
                    font-family: Nexa-Bold;
                    color:$blue;                        
                }
                    
                
            }
        }
    }

    footer{
        padding-bottom: 1rem;
        margin: 0;
        height: auto;;
        align-self: center;
        background-color: $lightblue;
        .last-line{
            
            h5{
                text-align: center;
                color:black;
            }
        }
    }
}

@media (min-width:700px){
    body{


        main{
            .login-detail{
                width: 400px;
            }
        }

        footer{
            display: block;
            align-self: center;
            
        }
    }
}
