@import 'config';

.active{
    color:$blue;
    background-color: $white;
}


.main{
    display: flex;
    flex-direction: row;
    .left{
        flex:2;
        .dashboard-items{
            margin-top:1rem;
            display: flex;
            flex-direction: column;
            .dashboard-item{
                margin:.5rem 0;
                a{     
                    color: $darkblue;
                    display: flex;
                    i{
                        margin-right: 1rem;
                    }
                }
                
            }
            
        }
    }
    .right{
        flex: 5;
        .heading{
            padding: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;;
            border-bottom: 1px solid $grey;
        }
        .first{
            padding: 1rem;
            .photo-and-name{
                display: grid;
                padding-bottom: 2rem;
                border-bottom: 1px solid $grey;

                grid-template-columns: 1fr 1fr 1fr;
                gap: 2rem;
                .photo-div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .photo-item{
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        
                        .image{
                            width: 3rem;
                            border-radius: 50%;
                            overflow: hidden;
                            grid-row-start: 1;
                            grid-row-end: 2;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            
                        }
                        p{
                            grid-row:1;
                            grid-column: 2;
                        }
                        input{
                            grid-row: 2;
                            grid-column: 2;
                            border: none;
                        }

                    }
                }
                .item{
                    p{
                        text-align: left;
                    }
                }
            }
            .second{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap:  2rem;
                padding-bottom: 2rem;
                border-bottom: 1px solid $grey;
                .item{
                    .phone{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

.edit-number{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
    
    background-color: rgba(219, 217, 217,.7 );
    .close{
        position: absolute;
        right: 3rem;
        top: 3rem;
        color: $darkblue;
    }
    .form-div{
        background-color: $white;
        padding: 2rem;
        box-shadow: .1rem .1rem .5rem .1rem $grey;
        h3{
            text-align: center;
            width: 100%;;
            color: $blue;
            padding:1.3rem;
            border-bottom: 1px solid $grey;
            margin-bottom:.5rem;
        }
        input{
            margin:1rem 0;
            flex:6;
        }
        button{
            margin:1rem;
        }
    }
}
