@import 'config';

body{
    display: flex;
    flex-direction: column;
    background-color: $lightblue;
    height: 100vh;
    justify-content: space-between;
        
    header{
        // flex:1.5;
        // height: 3r
    }

    main{
        
        // flex:7;
        align-self: center;
        .login-detail{  
            padding:0;
            background-color: $white;
            width: 350px;

            h3{
                text-align: center;
                width: 100%;;
                color: $blue;
                padding:1.3rem;
                border-bottom: 1px solid $grey;
                margin-bottom:.5rem;
            }
            
            .login{
                input{
                    margin: .2rem 0;
                    width: 90%;
                    height: 2rem;
                    padding-left:1rem;
                    text-align: left;
                    color: $black;
                }

                #place{
                    width:45%;
                }
                button{
                    width: 90%;
                    margin-bottom: 1rem;
                    height: 3.5rem;;
                    span{
                        float: right;
                    }
                }
            }

            h6{
                text-align: center;
                padding:1rem;
                span{
                    color: $blue;
                }
            }
        }
    }

    footer{
        padding: 0;
        margin: 0;
        // flex:1;
        height: auto;;
        align-self: center;
        padding-bottom:1rem;
        background-color: $lightblue;
        .last-line{
            
            h5{
                text-align: center;
                color:black;
            }
        }
    }
}

@media (min-width:700px){
    body{

        header{
            // flex:2.5;
        }

        main{
            .login-detail{
                width: 400px;
            }
        }

        footer{
            display: block;
            align-self: center;
            
        }
    }
}

@media (min-width: 1024px){
    body{
        header{
            // flex:3;
        }

        main{
            .login-detail{
                width: 500px;
                h3{
                    font-size:1rem;
                }
                .login{
                    input{
                        height: 1.4rem;;
                    }
                    button{
                        height: 1.8rem;
                    }
                }
            }
        }
    }
}
