@import 'config';



.plus{
    font-size: 1rem;
    border: 1px solid $blue;
    border-radius: .3rem;;
    width: 4rem;
    text-align: center;
    background-color: $blue;
    color: $white;
    padding: .5rem .5rem .4rem .5rem;
    font-family: Nexa-Bold;
    margin: 1rem auto;
}



.head{
    background-image: url('../../assets/tvastraPlus_heroSection.webp'),   linear-gradient(to bottom , rgba(156, 191,218, 1), rgba(156, 191,218, 0 ));;
    ;
    background-size: 60rem auto;
    background-repeat: no-repeat;
    padding: 1rem;
    
    .white-card{
        background-color: $white;
        padding:1.5rem 1rem;
        border: none;
        border-radius:.3rem;
        box-shadow: .1rem .1rem .5rem .1rem $lightgrey2;
        hr{
            border-top: 1px solid $lightgrey2;
            color: $white;
            margin:0;   
        }

        .plan{
            padding: 1.5rem 3.5rem;
            color: $black;
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 35rem;

            h3{
                display: flex;
                height: 4rem;
                justify-content: center;
                color: $black;
                border-bottom: 1px solid $lightgrey2;
            }
            h2,p{
                color: $black;
            }         

            .price-and-buy{
                h2{
                    span{
                        font-size:1.3rem;
                    }
                }
                h4{
                    color: $blue;
                    margin:1rem;
                }
                button{
                    color:$white;
                    background-color: $blue;
                    border:none;
                    border-radius: 5px;
                    font-family: Nexa-Bold;
                }
            }
        }

        .advanced-div{
            .popular{
                position: relative;
                top: 1.2rem;
                h5{
                    display:  flex;
                    justify-content: center;
                    align-items: center;
                    height: 2rem;
                    border:none;
                    border-radius: 1rem;
                    width: 5.5rem;
                    margin: auto;
                    background-color: $green;
                    color: $white;
                }
            }
            .advanced{

                background-image: linear-gradient(to bottom, rgba(190,226,247,.8), rgba(190,226,247, 0));
                
            }
        }

        
        
    }
}

.review{
    padding: 3rem 1rem;
    h1,i{
        color: $blue;
    }
    
    .rating-div{
        padding: 1rem;
        .ratings{
            text-align: center;
            margin-bottom:3rem;
            .five{
                width: 15rem;
                margin: 1rem auto;
                display: flex;
                .row{
                    margin-left:1rem;
                    width: 100%;
                    height: 1rem;
                    background-color: $lightgrey2;
                    border:1px solid $lightgrey2;
                    border-radius: 1rem;
                    overflow: hidden;
                    .row-like{
                        width: 60%;
                        height: 1rem;
                        background-color: $blue;
                        border:1px solid $blue;
                        border-radius: 1rem;    
                    }
                }
            }
            .four{
                width: 15rem;
                margin: 1rem auto;
                display: flex;
                .row{
                    margin-left: 1rem;
                    width: 100%;
                    height: 1rem;
                    background-color: $lightgrey2;
                    border:1px solid $lightgrey2;
                    border-radius: 1rem;
                    overflow: hidden;
                    .row-like{
                        width: 40%;
                        height: 1rem;
                        background-color: $blue;
                        border:1px solid $blue;
                        border-radius: 1rem;    
                    }
                }
            }
            .three{
                width: 15rem;;
                margin: 1rem auto;
                display: flex;
                .row{
                    margin-left:1rem;
                    width: 100%;
                    height: 1rem;
                    background-color: $lightgrey2;
                    border:1px solid $lightgrey2;
                    border-radius: 1rem;
                    overflow: hidden;
                    .row-like{
                        width: 30%;
                        height: 1rem;
                        background-color: $blue;
                        border:1px solid $blue;
                        border-radius: 1rem;    
                    }
                }
            }
            .two{
                width: 15rem;
                margin: 1rem auto;
                display: flex;
                .row{
                    margin-left:1rem;
                    width: 100%;
                    height: 1rem;
                    background-color: $lightgrey2;
                    border:1px solid $lightgrey2;
                    border-radius: 1rem;
                    overflow: hidden;
                    .row-like{
                        width: 20%;
                        height: 1rem;
                        background-color: $blue;
                        border:1px solid $blue;
                        border-radius: 1rem;    
                    }
                }
            }
            .one{
                width: 15rem;
                margin: 1rem auto;
                display: flex;
                margin-bottom: 0;
                .row{
                    margin-left: 1rem;
                    width: 100%;
                    height: 1rem;
                    background-color: $lightgrey2;
                    border:1px solid $lightgrey2;
                    border-radius: 1rem;
                    overflow: hidden;
                    .row-like{
                        width: 10%;
                        height: 1rem;
                        background-color: $blue;
                        border:1px solid $blue;
                        border-radius: 1rem;    
                    }
                }
            }
        }
    }
    
    

    .countings{
        padding:0 2rem;
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
        .each-counting{
            height: 7rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            h4,p{
                color: $blue;
                margin:0;
            }
        }
    }

    .benifits{
        padding: 0 1rem;
        .heading-benifit{
            margin: auto;
            width: 18rem;
            padding-bottom:1rem;
            border-bottom: 5px solid $lightblue;
            margin-bottom: 1rem;
        }

        .zero-and-top{
            .zero-fees{
                .para-div{
                    display: flex;
                    margin: 1rem 0;
                    .tick{
                        margin-right: 1rem;;
                    }
                    p{
                        text-align: left;
                        margin:0;
                    }
                }        
            }
            .top-hospitals{
                h4{
                    margin:1rem 0;
                }
                
                .hospital-imgs{
                    width: 100%;
                    
                    td{
                        padding: .5rem;
                        width: 50%;
                        border: 1px solid $red;
                    }
                    border: 0;;
                }
            }
        }
        
        .unlimited-and-video{
            .unlimited{
                .para-div{
                    display: flex;
                    margin: 1rem 0;
                    .tick{
                        margin-right: 1rem;;
                    }
                    p{
                        text-align: left;
                        margin:0;
                    }
                }
            }
            .video-call{
                border-radius: 1rem;
                overflow: hidden;
                box-shadow: .1rem .1rem .5rem .1rem $grey;
                margin: 2rem 0 3rem 0;
                img{
                    width: 100%;
                }
            }

        }
        
        .tests{
            h5{
                margin-bottom:2rem;
            }
            .test-cards{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: .5rem;
                .test-card{
                    // margin: .4rem 0;

                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    background-color: $white;
                    box-shadow: .1rem .1rem .3rem .1rem $grey;
                    width: 100%;
                    height: 15rem;
                    h5,p{
                        margin: 0;
                        padding: 0;
                    }
                    img{
                        width: 5rem;
                    }
                }
            }
            .test-btns{
                margin: 1rem 0 2rem 0;
                .grey{
                    color:$grey;
                }
                
            }
        }
        .love-tvastra{
            margin-bottom: 3rem;
            h3{
                margin-bottom: 2rem;
            }
            .love-cards{
                .love-card{
                    margin-bottom: 1rem;;
                    height: 13rem;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-shadow: .1rem .1rem .3rem .1rem $grey;
                    h5,h4{
                        margin:0;
                        text-align: left;
                    }

                    .detail{
                        display: grid;
                        grid-template-columns: 1fr 3fr;
                        align-items: center;
                        .detail-image{
                            grid-column: 1;
                            grid-row-start: 1;
                            grid-row-end: 3;
                            border-radius: 50%;
                            overflow: hidden;
                            img{
                                height: 6rem;
                            }
                        }
                        .user{
                            border-radius: 1rem;;
                            height: 3rem;
                            width: 13rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $lightblue;
                            color:$blue;
                        }
                    }
                }
            }
        }
        .faq{
            .questions{
                display: flex;
                justify-content: space-between;
                margin: 1.3rem 0;
                h4{
                    margin-top:.5rem;
                    flex: 10;
                    text-align: left;
                    color: $blue;
                }
                div{
                    background-color: $lightblue;
                    border-radius: 50%;
                    flex:1;
                    align-self: center;
                    i{
                        padding:.5rem .3rem;
                    }
                }
            }
            p{
                text-align: left;
                line-height: 1.5rem;
                background-color: $lightblue;
                padding: 1rem;
            }
        }
    }
}

@media (min-width: 700px){
    
    .head{
        padding: 3rem;
        .plus{
            margin-left:0;
        }
        h1,p{
            text-align: left;
        }

        .white-card{
            margin-top: 5rem;
            p{
                text-align: center;
            }

            .plans{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                .plan{
                    padding:0 1rem;
                    padding-top: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .plan-info{
                        margin-top: 0;
                    }
                }
                .advanced-div{
                    position: relative;
                    padding: 0;
                    .popular{
                        position: absolute;
                        bottom:0;
                        right: 1.5rem;
                        margin: auto;
                    }
                }
            }

        }
    }
    .review{
        padding: 3rem;
        padding-bottom:0;
        .rating-div{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        .countings{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .benifits{
            
            .heading-benifit{
                width: 20rem;
                margin-bottom: 3rem;
            }

            .zero-and-top{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
            }

            .unlimited-and-video{
                margin-bottom:1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 18rem;
                .unlimited{
                    flex: 3;
                    // height: ;
                }
                .video-call{
                    flex:2.5;
                    height: 15rem;
                    img{
                        object-fit: cover;
                    }
                }
            }
            .reverse{
                flex-direction: row-reverse;
                .video-call{
                    margin-right: 1rem;
                }
            }

            .tests{
                h5{
                    text-align: left;
                }
                
            }
            .love-tvastra{
                h3{
                    text-align: left;
                }
                .love-cards{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: .8rem;
                    .love-card{
                        width: 100%;
                        margin:0;
                    }
                }
            }
            .faq{
                h3{
                    text-align: left;
                }
                .questions{
                    h4{
                        flex: 18;
                    }
                    div{
                        flex:1;
                    }
                }
            }
        }  
    }
}


@media (min-width: 1024px){
    
    .head{
        background-size: 100% ;
        .white-card{
            h2{
                text-align: center  ;
            }
            .plans{
                .plan{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .plan-info{
                        h3{
                            text-align: center;
                        }
                    }
                    .price-and-buy{
                        h4{
                            text-align:center;
                        }
                    }
                }
            }
        }
    }

    .review{
        h2,p{
            text-align: center;
        }

        .rating-div{
            margin: 0 19rem;
        }
        .countings{
            margin: 0 10rem 3rem 10rem;

            
        }

        .benifits{
            .zero-and-top{
                margin-top: 3rem; 
                grid-template-columns: 3fr 2fr;
                gap: 3rem;
                .top-hospitals{

                    h4{
                        text-align: center;
                    }
                }
            }
            .unlimited-and-video{
                margin-top: 3rem;
                justify-content: space-between;
                width: 100%;
                .unlimited{
                    flex:2;
                }
                .video-call{
                    flex:1;
                }
            }
            .reverse{
                .video-call{
                    margin-right: 6rem;;
                }
            }

            .tests{
                .test-cards{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
            .love-tvastra{
                .love-cards{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            .faq{
                .questions{
                    h4{
                        flex: 28;
                    }
                }
            }

        }
    }
}