<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/about-us.css">
    <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script>
    <script src="../js/navbar.js" async></script>
    <title>Tvastra</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="logo-and-bars">
                <a href="index.html">
                    <div class="logo-img">
                        <img src="../assets/Logo.jpg" alt="logo">
                    </div>
                </a>
                
                <div class="bars">
                    <button id="bars-button" onclick='burger()'>
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
            <div id="mobile-view" class="nav-open hidden">
                <div class="nav-expended">
                    <a href="doctor.html">Doctors</a>
                    
                    <a href="hospital.html">Hospitals</a>
                    
                    <a href="treatment.html">Treatment</a>
                    
                    <a href="other-services.html">Other Services</a>
                    
                    <a href="about.html">about</a>
                    
                </div>
                <div class="login-signup">
                    <button class="nav-btn-white">Login/SignUp</button>
                    <button class="nav-btn-dark">Get a Queue</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="head">
            <div class="head-div">
                <h2>Living Healthy Matters</h2>
                <p>Our specialist aspire to bridge the gap between your benefits plan and the health needs </p>
            </div>
            
        </section>
        <section class="details">
            <div class="details-written">
                <h2>You have to begin to tell the story of your life as you now want it to be 
                    and discontinue the tales.
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae assumenda
                     cumque! Alias in vero eligendi fugiat? Illum, recusandae velit? Lorem ipsum, 
                     dolor sit amet consectetur adipisicing elit. Quae, et?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae assumenda
                     cumque! Alias in vero eligendi fugiat? Illum, recusandae velit? Lorem ipsum dolor sit amet
                     , consectetur adipisicing elit. At, repellendus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae assumenda
                     cumque! Alias in vero eligendi fugiat? Illum, recusandae velit? Lorem ipsum dolor 
                     sit amet consectetur adipisicing elit. Reiciendis, animi.</p>
                
            </div>
            
            <div class="sign-img">
                <img src="../assets/signature.png" alt="">
            </div>
            <div class="doctor-img">
                <img src="../assets/femaleDoctor.png" alt="">
            </div>
        </section>
        <section class="black-box">
            <div class="black-box-head">
                <h3>Your wellness builds upon the medical daily</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam harum
                     blanditiis consequatur iusto maiores nisi libero officia quas expedita. Sit.</p>
            </div>
            
            <button class="black-button"><h5>Get free checkup</h5></button>
            <div class="cards">
                <div class="card">
                    <h2>12M</h2>
                    <h6>Happy Patients</h6>
                </div>
                <div class="card">
                    <h2>5K</h2>
                    <h6>Medical Assistance</h6>
                </div>
                <div class="card">
                    <h2>9.8</h2>
                    <h6>Alexa Score</h6>
                </div>
                <div class="card">
                    <h2>3.2K</h2>
                    <h6>Doctors Available</h6>
                </div>
                <div class="card">
                    <h2>45%</h2>
                    <h6>Cure Rate</h6>
                </div>
                <div class="card">
                    <h2>75</h2>
                    <h6>Health Points</h6>
                </div>
            </div>
        </section>
    
        <section class="need-help">
            <div >
                <h2>Join Our Team</h2>
                <p>We are always looking for good and talented people</p>    
            </div>
            <div>
                <button class="help">Submit Your CV</button>
            </div>
        </section>
    </main>
    <footer>
            <div class="footer-img">
                <img src="../assets/footer.png" alt="Logo">
            </div>
            <div class="footer-services">
                <a href="doctor.html">Doctors</a>
                <br>
                <a href="hospital.html">Hospital</a>
                <br>
                <a href="treatment.html">Treatement</a>
                <br>
                <a href="other-services.html">Other Services</a>
                <br>
                <a href="faq.html">FAQs</a>
            </div>
            <div class="footer-social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="last-line">
                <h5>All Rights Reserved. &copy; tvastra 2018</h5>
            </div>        
    </footer>
    <script src="../js/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgx0he08lg0fSei0yXKyrmo1_qysOdxCc&callback=initMap"
    type="text/javascript"></script>
</body>
</html>