<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <!-- <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script> -->
    <!-- <script src="../js/navbar.js" async></script> -->
    <title>Tvastra</title>
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %>

    <main>
        <section class="head">
            <div class="head-div">
                <h2>Living Healthy Matters</h2>
                <p>Our specialist aspire to bridge the gap between your benefits plan and the health needs </p>
            </div>
            
        </section>
        <section class="details">
            <div class="details-written">
                <h2>You have to begin to tell the story of your life as you now want it to be 
                    and discontinue the tales.
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae assumenda
                     cumque! Alias in vero eligendi fugiat? Illum, recusandae velit? Lorem ipsum, 
                     dolor sit amet consectetur adipisicing elit. Quae, et?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae assumenda
                     cumque! Alias in vero eligendi fugiat? Illum, recusandae velit? Lorem ipsum dolor sit amet
                     , consectetur adipisicing elit. At, repellendus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat vitae assumenda
                     cumque! Alias in vero eligendi fugiat? Illum, recusandae velit? Lorem ipsum dolor 
                     sit amet consectetur adipisicing elit. Reiciendis, animi.</p>
                
            </div>
            
            <div class="sign-img">
                <img src="../assets/signature.png" alt="">
            </div>
            <div class="doctor-img">
                <img src="../assets/femaleDoctor.png" alt="">
            </div>
        </section>
        <section class="black-box">
            <div class="video">
                <video autoplay height="50rem">
                    <source src='../assets/The+New+Stamford+Hospital+TV+Commercial.mp4' type="video/mp4">
                </video>
            </div>
            <div class="black-box-content">
                <div class="black-box-head">
                    <h3>Your wellness builds upon the medical daily</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam harum
                         blanditiis consequatur iusto maiores nisi libero officia quas expedita. Sit.</p>
                </div>
                
                <button class="black-button"><h5>Get free checkup</h5></button>
                <div class="cards">
                    <div class="card">
                        <h2>12M</h2>
                        <h6>Happy Patients</h6>
                    </div>
                    <div class="card">
                        <h2>5K</h2>
                        <h6>Medical Assistance</h6>
                    </div>
                    <div class="card">
                        <h2>9.8</h2>
                        <h6>Alexa Score</h6>
                    </div>
                    <div class="card">
                        <h2>3.2K</h2>
                        <h6>Doctors Available</h6>
                    </div>
                    <div class="card">
                        <h2>45%</h2>
                        <h6>Cure Rate</h6>
                    </div>
                    <div class="card">
                        <h2>75</h2>
                        <h6>Health Points</h6>
                    </div>
                </div>
            </div>
            
        </section>
    
        <section class="need-help">
            <div >
                <h2>Join Our Team</h2>
                <p>We are always looking for good and talented people</p>    
            </div>
            <div>
                <button class="help">Submit Your CV</button>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>

</body>
</html>