<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/addDoctorDetails.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <!-- <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script> -->
    
    <title>Tvastra</title>
</head>
<body>

    <% if(error.length>0){ %> 
        <div class="error message">
            <div class="information">
                <i class="fas fa-times-circle fa-2x"></i>
                <div class="data">
                    <h3>Error</h3>
                    <h6><%= error %> </h6>
                </div>
            </div>
            <i class="fas fa-times close" onclick="document.getElementsByClassName('message')[0].style.display = 'none'; locals.success = null;"></i>
        </div>
    <% } %> 

    <section class="main">
        <div class="heading">
            <h1>Conguratulation <%= locals.user.name %> </h1>
            <h5>You are one step away from being a past of one of the best medical portal</h5>      
        </div>
        <div class="photo">
            <i class="fas fa-user-md fa-7x" ></i>
        </div> 
        <form class="form" action="/addDoctorDetails" method="POST" enctype="multipart/form-data">
            <textarea name="about" id="" placeholder="Write about yourself" ></textarea>
            <div class="input-div">
                <input type="text" name="speciality" placeholder="Speciality" required>
                <input type="text" name="qualification" placeholder="Qualification" required>
                <input type="text" name="treatmentList" placeholder="Treatment List" required>
                <input type="text" name="location" placeholder="Locaion" required>
                <input type="text" name="hospitalList" placeholder="Hospital List" required>
                <input type="text" name="achievement" placeholder="Achievement">
                <input type="text" name="awards" placeholder="Awards if any">
                <input type="text" name="experience" placeholder="Years of Experience"required>
                <input type="text" name="avgFees" placeholder="Average Fees">
                <input type="file" name="resume">
            </div>
            <button type="submit">Submit</button>
        </form> 
        
    </section>
    
</body>
</html>