
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/contactus.css">
    <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script>
    
    <title>Tvastra</title>
</head>
<body>
    <header>
        <nav class="nav">
            <div class="logo-and-bars">
                <div class="logo-img">
                    <img src="../assets/Logo.jpg" alt="logo">
                </div>
                <div class="bars">
                    <button id="bars-button">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
            <div id="mobile-view" class="nav-open hidden">
                <div class="nav-expended">
                    <a href="doctor.html">Doctors</a>
                    
                    <a href="hospital.html">Hospitals</a>
                    
                    <a href="treatment.html">Treatment</a>
                    
                    <a href="other-services.html">Other Services</a>
                    
                    <a href="about.html">about</a>
                    
                </div>
                <div class="login-signup">
                    <button class="nav-btn-white">Login/SignUp</button>
                    <button class="nav-btn-dark">Get a Queue</button>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="contact-heading" >
            <div class="top">
                <h1>Contact Us</h1>
                <h5>Home / Contact Us</h5>
            </div>
        </section>
        <section class="map">
            <div class="google-map">
<!-- place the google map here -->
            </div>
        </section>
        <section class="info-query">
        <div class="info">
            <div class="details">
                <div class="detail-home">
                    <i class="fas fa-home fa-2x"></i>
                    <div class="detail-home-written">
                        <h5>Noida, India</h5>
                        <h6>Sector 46</h6>
                    </div>
                </div>
                <div class="detail-home">
                    <i class="fas fa-phone-alt fa-2x"></i>
                    <div class="detail-home-written">
                        <h5>00 (440) 9865562</h5>
                        <h6>Mon to Fri 9am to 6pm</h6>
                    </div>
                </div>
                <div class="detail-home">
                    <i class="fas fa-home fa-2x"></i>
                    <div class="detail-home-written">
                        <h5>support@tvastra</h5>
                        <h6>Send us your query anytime</h6>
                    </div>
                </div>
            </div>
<!--             
            <div class="query">
                <input type="text" name="" id="" placeholder="Enter your Name">
                <input type="text" name="" id="" placeholder="Enter email address">
                <input type="text" name="" id="" placeholder="Enter subject">
                <div class="message-div">
                    <input type="text" name="" id="message" placeholder="Enter Message">
                </div>
                <button>Send Message</button>
            </div> -->
        </div>
        <div class="query-container">
            <div class="query-outside">
                <div class="query-outside-detail">
                    <input type="text" name="" id="" placeholder="Enter your Name">
                    <input type="text" name="" id="" placeholder="Enter email address">
                    <input type="text" name="" id="" placeholder="Enter subject">
                </div>
                <div class="message-div">
                    <input type="text" name="" id="message" placeholder="Enter Message">
                </div>
                
            </div>
            <div class="button-div">
                <button>Send Message</button>
            </div>
    
        </section>
    </main>
    <hr>
    <footer>
            <div class="footer-img">
                <img src="../assets/footer.png" alt="Logo">
            </div>
            <div class="footer-services">
                <a href="doctor.html">Doctors</a>
                <br>
                <a href="hospital.html">Hospital</a>
                <br>
                <a href="treatment.html">Treatement</a>
                <br>
                <a href="other-services.html">Other Services</a>
                <br>
                <a href="faq.html">FAQs</a>
            </div>
            <div class="footer-social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="last-line">
                <h5>All Rights Reserved. &copy; tvastra 2018</h5>
            </div>        
    </footer>
    <script src="../js/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    type="text/javascript"></script>
</body>
</html>