
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/contactus.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <!-- <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script> -->
    <!-- <script src="../js/navbar.js" async></script> -->
    <title>Tvastra</title>
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %>

    <main>
        <section class="contact-heading" >
            <div class="top">
                <h1>Contact Us</h1>
                <h5>Home / Contact Us</h5>
            </div>
        </section>
        <section class="map">
            <div id="google-map">
<!-- place the google map here -->
            </div>
        </section>
        <section class="info-query">
        <div class="info">
            <div class="details">
                <div class="detail-home">
                    <i class="fas fa-home fa-2x"></i>
                    <div class="detail-home-written">
                        <h5>Noida, India</h5>
                        <h6>Sector 46</h6>
                    </div>
                </div>
                <div class="detail-home">
                    <i class="fas fa-phone-alt fa-2x"></i>
                    <div class="detail-home-written">
                        <h5>00 (440) 9865562</h5>
                        <h6>Mon to Fri 9am to 6pm</h6>
                    </div>
                </div>
                <div class="detail-home">
                    <i class="fas fa-home fa-2x"></i>
                    <div class="detail-home-written">
                        <h5>support@tvastra</h5>
                        <h6>Send us your query anytime</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="query-container">
            <div class="query-outside">
                <div class="query-outside-detail">
                    <input type="text" name="" id="" placeholder="Enter your Name">
                    <input type="text" name="" id="" placeholder="Enter email address">
                    <input type="text" name="" id="" placeholder="Enter subject">
                </div>
                <div class="message-div">
                    <input type="text" name="" id="message" placeholder="Enter Message">
                </div>
                
            </div>
            <div class="button-div">
                <button>Send Message</button>
            </div>
    
        </section>
    </main>
    <hr>
    
    <%- include('./partials/footer.ejs') %>
    <script src="../js/script.js"></script>
    <script>
        function initMap(){
            var pos= { lat:28.721090, lng:77.224083};
            var map = new google.maps.Map(document.getElementById('google-map'),
            {
                zoom:12,
                center: pos
            });
            var marker = new google.maps.Marker({
                position: pos,
                map: map,
            })

        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgx0he08lg0fSei0yXKyrmo1_qysOdxCc&callback=initMap"
    type="text/javascript"></script>
</body>
</html>