<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script>
    <script src="../js/navbar.js" async></script>
    
    <title>Tvastra</title>
</head>
<body>
    <!-- <header>
        <nav class="nav">
            <div class="logo-and-bars">
                <a href="index.html">
                    <div class="logo-img">
                        <img src="../assets/Logo.jpg" alt="logo">
                    </div>
                </a>
                
                <div class="bars">
                    <button id="bars-button" onclick='burger()'>
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
            <div id="mobile-view" class="nav-open hidden">
                <div class="nav-expended">
                    <a href="doctor.html">Doctors</a>
                    
                    <a href="hospital.html">Hospitals</a>
                    
                    <a href="treatment.html">Treatment</a>
                    
                    <a href="other-services.html">Other Services</a>
                    
                    <a href="about.html">about</a>
                    
                </div>
                <div class="login-signup">
                    <a href = "login.html" ><button class="nav-btn-white">Login/SignUp</button></a>
                    <a href="appointment.html" ><button class="nav-btn-dark">Get a Queue</button></a>
                </div>
            </div>
        </nav>
    </header> -->
    <%-  include('./partials/navbar.ejs') %>
    <% if(locals.msg) { %>
        <div class="message-div">
            <%= msg %>
        </div>
    <% }%>

    <main>
        <section class="find-affordable-healthcare">
            <h1>Find Affordable Healthcare</h1>
            <p>Join the thousand of others who have exercised their rights to quality healthcare at 
                a price you can afford
            </p>
            <form class="search-healthcare">
                <div class="location">
                    <div class="map-marker">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <input id="autocomplete" type="text" placeholder="Ahemdabad">
                    <div class="gps">
                        <img class="gps-img" src="../assets/gps.png" alt="gps logo">
                    </div>
                </div>
                <div class="search">
                    <input type="text" placeholder="Search for Doctors, Hospital and treatments">
                </div>
                <button class="search-submit" type="submit">Search</button>
            </form>
        </section>


        <section class="how-it-works">
            <h2>How it works</h2>
            <p>Various facilities are provided here. But there is a protocol which needs to 
                be followed so that you get service at its best.
            </p>
            <div class="works-btns-all">
                <div class="works-btns">
                    <button id='butt01' onclick="openImg(01)">
                        <h3><span class="blue">01</span>&emsp; Fix Consultation</h3>
                    </button>
                    <div id="img01" class="works-img-small">
                        <img src="../assets/img1.png" alt="image">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
                                
                    <button  id='butt02' onclick="openImg(02)">
                        <h3><span class="blue">01</span>&emsp; Fix Consultation</h3>
                    </button>
                    <div id="img02" class="works-img-small ">
                        <img src="../assets/img2.png" alt="image">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
                
                    <button id="butt03" onclick="openImg(03)">
                        <h3><span class="blue">01</span>&emsp; Fix Consultation</h3>
                    </button>
                    <div id="img03" class="works-img-small">
                        <img src="../assets/img2.png" alt="image">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
                    
                    <button id="butt04" onclick="openImg(04)">
                        <h3><span class="blue">01</span>&emsp; Fix Consultation</h3>
                    </button>
                    <div id="img04" class="works-img-small">
                        <img src="../assets/img2.png" alt="image">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
                    
                    <button id="butt05" onclick="openImg(05)">
                        <h3><span class="blue">01</span> &emsp; Fix Consultation</h3>
                    </button>
                    <div id="img05" class="works-img-small">
                        <img src="../assets/img2.png" alt="image">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
            
                    <button id="butt06" onclick="openImg(06)">
                        <h3><span class="blue">01</span>&emsp; Fix Consultation</h3>
                    </button>
                    <div id="img06" class="works-img-small">
                        <img src="../assets/img2.png" alt="image">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
                
                    <button id="butt07" onclick="openImg(07)">
                        <h3><span class="blue">01</span>&emsp; Fix Consultation</h3>
                    </button>
                    <div id="img07" class="works-img-small">
                        <img src="../assets/img2.png" alt="image">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
    
                </div>
                
                <div class="works-img-large-all">
                    <div id= 'large-img' class="works-img-large hidden">
                        <img src="../assets/img1.png" alt="doctos">
                        <h3>Fix Consultation</h3>
                        <p>This depicts that the user will have to fix appointment first when it selets 
                            a particular doctor
                        </p>
                    </div>
                </div>
                                    
            </div>
        </section>

        <section class="world-class">
            <h2>World class expert Doctors</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia minima 
                soluta iure nulla in, nihil, accusantium laudantium sapiente exercitationem fuga 
                incidunt iusto ad corrupti et quos quas animi labore.
            </p>
            
            <div class="doctors-cards">
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson1</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson2</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson3</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson4</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson5</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson5</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson6</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
                <div class="doctor-card">
                    <div class="doctor-card-img">
                        <img src="../assets/image--002.jpg" alt="Doctor's photo">
                    </div>
                    <div class="doctor-card-desc">
                        <h4>Duke Sanson7</h4>
                        <h5>Neuro Sergina</h5>
                        <h5>chain department of Neurological surgery</h5>
                        <h5>Australia</h5>
                    </div>
                </div>
            </div>
            <div class="dots">
                <span id='dot0' onclick = changeDoctor(0)>&#9679;</span>
                <span id='dot1' onclick = changeDoctor(1)>&#9679;</span>
                <span id='dot2' onclick = changeDoctor(2)>&#9679;</span>
                <span id='dot3' onclick = changeDoctor(3)>&#9679;</span>
            </div>
        </section>
        <section class="medical-treatment">
            <h2>Featured Medical Treatement</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo 
                delectus quia maxime accusamus, totam tempora, necessitatibus 
                itaque possimus esse nisi asperiores mollitia qui minima animi
                 et error provident eos blanditiis!
            </p>
            <div class="treatment-cards">
                <div class="treatment-card01">
                    <div class="treatment-card-desc">
                        <h4>Dentistry</h4>
                        <h5>50+ Specialities</h5>
                    </div>
                </div>
                <div class="treatment-card02">
                    <div class="treatment-card-desc">
                        <h4>Dentistry</h4>
                        <h5>50+ Specialities</h5>
                    </div>
                </div>
                <div class="treatment-card03">
                    <div class="treatment-card-desc">
                        <h4>Dentistry</h4>
                        <h5>50+ Specialities</h5>
                    </div>
                </div>
                <div class="treatment-card04">
                    <div class="treatment-card-desc">
                        <h4>Dentistry</h4>
                        <h5>50+ Specialities</h5>
                    </div>
                </div>
                <div class="treatment-card05">
                    <div class="treatment-card-desc">
                        <h4>Dentistry</h4>
                        <h5>50+ Specialities</h5>
                    </div>
                </div>
                <div class="treatment-card06">
                    <div class="treatment-card-desc">
                        <h4>Dentistry</h4>
                        <h5>50+ Specialities</h5>
                    </div>
                </div>
            </div>
            <div class="dots">
                <span id='serv-dot0' onclick = changeService(0)>&#9679;</span>
                <span id='serv-dot1' onclick = changeService(1)>&#9679;</span>
                <span id='serv-dot2' onclick = changeService(2)>&#9679;</span>
            </div>
        </section>

        <section class="services">
            <h2>Exclusive Services</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Quo delectus, nam modi ab, laborum eum laudantium maiores
                  doloribus dignissimos accusantium vitae nesciunt. Nihil 
                  laboriosam tempora, distinctio earum ratione quia hic!
            </p>
            <div class="service-cards">
                <div class="service-card">
                    <div class="service-card-img">
                        <img src="../assets/Icons-02.png" alt="icons">
                    </div>
                    <h5>Travel</h5>
                </div>
                <div class="service-card">
                    <div class="service-card-img">
                        <img src="../assets/Icons-02.png" alt="icons">
                    </div>
                    <h5>Travel</h5>
                </div>
                <div class="service-card">
                    <div class="service-card-img">
                        <img src="../assets/Icons-02.png" alt="icons">
                    </div>
                    <h5>Travel</h5>
                </div>
                <div class="service-card">
                    <div class="service-card-img">
                        <img src="../assets/Icons-02.png" alt="icons">
                    </div>
                    <h5>Travel</h5>
                </div>
                <div class="service-card">
                    <div class="service-card-img">
                        <img src="../assets/Icons-02.png" alt="icons">
                    </div>
                    <h5>Travel</h5>
                </div>
                <div class="service-card">
                    <div class="service-card-img">
                        <img src="../assets/Icons-02.png" alt="icons">
                    </div>
                    <h5>Travel</h5>
                </div>
            </div>
        </section>
        <section class="need-help">
            <div >
                <h2>Need Help?</h2>
                <p>Just let us know. We will be happy to assist you</p>    
            </div>
            <div>
                <button class="help">Submit Your Query</button>
            </div>
        </section>
    </main>
    <!-- <footer>
            <div class="footer-img">
                <img src="../assets/footer.png" alt="Logo">
            </div>
            <div class="footer-services">
                <a href="doctor.html">Doctors</a>
                <br>
                <a href="hospital.html">Hospital</a>
                <br>
                <a href="treatment.html">Treatement</a>
                <br>
                <a href="other-services.html">Other Services</a>
                <br>
                <a href="faq.html">FAQs</a>
            </div>
            <div class="footer-social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="last-line">
                <h5>All Rights Reserved. &copy; tvastra 2018</h5>
            </div>        
    </footer> -->
    <%- include('./partials/footer.ejs') %>
    <script>
        function search(){
            let autoComplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'));
        }
    </script>
    <script src="../js/index.js" async></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgx0he08lg0fSei0yXKyrmo1_qysOdxCc&libraries=places&callback=search"></script>

</body>
</html>