<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <title>Tvastra</title>
</head>
<body>
    
    <header>
        <nav class="nav">
            <div class="logo-and-bars">
                <div class="logo-img">
                    <a href="/">
                        <img src="../assets/Logo.jpg" alt="logo">
                    </a>
                </div>
                <div class="bars" onclick="burger()">
                    <button id="bars-button">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
            <div id="mobile-view" class="nav-open hidden">
                <div class="nav-expended">
                    <a href="doctor" >Doctors</a>
                    
                    <a href="hospital">Hospitals</a>
                    
                    <a href="treatment">Treatment</a>
                    
                    <a href="aboutUs">about</a>
                    
                </div>
                 
                 
            <% if(locals.user){%> 
                <div class="login-signup">
                    
                    <a href="appointment">
                        <button class="nav-btn-dark">Get a Queue</button>
                    </a>
                </div>
            <% } else{%>
                
                <div class="login-signup">
                    
                    <a href="appointment">
                        <button class="nav-btn-dark">Get a Queue</button>
                    </a>
                </div>
            <%} %>  
            </div>
        </nav>
        <script src="../../js/navbar.js"></script>
    </header>

    <% if(error.length>0){ %> 
        <div class="error message">
            <div class="information">
                <i class="fas fa-times-circle fa-2x"></i>
                <div class="data">
                    <h3>Error</h3>
                    <h6><%= error %> </h6>
                </div>
            </div>
            <i class="fas fa-times close" onclick="document.getElementsByClassName('message')[0].style.display = 'none'; locals.success = null;"></i>
        </div>
    <% } %> 


    <main>
        <section class="login-detail">
            <h3>Login</h3>
            <form action="/login" method="POST" class="login">
                <div class="email-div">
                    <input type="email" name='email' placeholder="Email" required>
                    <div class="i-div">
                        <i class="fas fa-question-circle"></i>    
                    </div>
                </div>
                <div id="password-div" class="password email-div">
                    <input type="password" name="password" id="password" placeholder="Enter Password">
                    <div class="i-div" onclick="passwordDisplay()">
                        <i id='invisible' class="fas fa-eye-slash"></i>
                        <i id='visible' class="fas fa-eye active"></i>
                    </div>
                </div>
                <div class="other-btns">
                    <button formaction="/otp" class="ButtonLink">Login via OTP</button>
                    <button formaction="/beforeResetPassword" class="ButtonLink">reset Password</button>    
                </div>
                <button type="submit">Login <span><i class="fas fa-arrow-right"></i></span></button>

            </form>
            <h6>Not Registered? <span><a href="signup" >Sign Up</a></span></h6>
        </section>
    </main>
    <footer>
            <div class="last-line">
                <h5>All Rights Reserved. &copy; tvastra 2020</h5>
            </div>        
    </footer>
    <script>

        function passwordDisplay(){
            var visi = document.getElementById('visible');
            var invisi = document.getElementById('invisible');
            var password = document.getElementById('password');
            if(password.getAttribute('type')=== 'password'){
                password.setAttribute('type', 'text');
                invisi.style.display = 'none';
                visi.style.display = 'block';
            
            }else{
                password.setAttribute('type', 'password');
                visi.style.display = 'none';
                invisi.style.display = 'block';
                console.log('tez');
            }
        }

    </script>
</body>
</html>
