<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <title>Tvastra</title>
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %>
    
    <% if(locals.info){ %> 
        <div class="info message">
            <div class="information">
                <i class="fas fa-info-circle fa-2x"></i>
                <div class="data">
                    <h3>Success</h3>
                    <h4><%= locals.info %> </h4>
                </div>
            </div>
            <i id='close' class="fas fa-times close" onclick="document.getElementsByClassName('message')[0].style.display = 'none';"></i>
        </div>
    <% } %> 



    <main>
        <section class="login-detail">
            <h3>verify otp</h3>
            <form action="/otpVerify" method="POST" class="login">
                
                <input type="text" name="code" id="" placeholder="Enter OTP">
                <button>Login <span><i class="fas fa-arrow-right"></i></span></button>
            </form>
        </section>
    </main>
    <footer>
            <div class="last-line">
                <h5>All Rights Reserved. &copy; tvastra 2018</h5>
            </div>        
    </footer>
</body>
</html>
