<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/signup.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <!-- <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script> -->
    
    <title>Tvastra</title>
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %>

    <% if(this.msg) { %>
        <div class="message-div">
            <%= msg %>
        </div>
    <% }%>

    <main>
        <section class="signup-detail">
            <h3>Sign UP</h3>
            <form action="" method="POST" class="signup">
                <input type="text" name="name" placeholder="Enter Name" required>
                <input type="email" name="email" placeholder="Enter Email" required>
                <input type="text" name="password" placeholder="Enter Password" required >
                <!-- <input list="gender" name="gender" name="gender" placeholder="Select Your Gender"required> -->
                <select name="gender" id="gender">
                    <option selected hidden>Select Your Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="other">Other</option>
                </datalist>
                <input type="date" name='dob' placeholder="" required>
                <input type="text" name='phone' placeholder="Enter Phone Number" required>
                <input id="place" name='city' type="text" placeholder="Enter City" required>
                <input id="place" name='state' type="text" placeholder="Enter State" required>
                <input type="text" name='country' placeholder="Select Your Country " required>
                <button>Sign Up <span><i class="fas fa-arrow-right"></i></span></button>
            </form>
            <h6>Already Registered? <a href="login">Login</a>  </h6>
        </section>
    </main>
    <footer>
            <div class="last-line">
                <h5>All Rights Reserved. &copy; tvastra 2018</h5>
            </div>        
    </footer>
    
</body>
</html>