
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/treatment.css">
    <script src="https://kit.fontawesome.com/edfda1e8cf.js" crossorigin="anonymous"></script>
    <script src="../js/navbar.js" async></script>
    <title>Tvastra</title>
</head>
<body>
    <!-- <header>
        <nav class="nav">
            <div class="logo-and-bars">
                <a href="index.html">
                    <div class="logo-img">
                        <img src="../assets/Logo.jpg" alt="logo">
                    </div>
                </a>
                
                <div class="bars">
                    <button id="bars-button"  onclick='burger()'>
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
            <div id="mobile-view" class="nav-open hidden">
                <div class="nav-expended">
                    <a href="doctor.html">Doctors</a>
                    
                    <a href="hospital.html">Hospitals</a>
                    
                    <a href="treatment.html">Treatment</a>
                    
                    <a href="other-services.html">Other Services</a>
                    
                    <a href="about.html">about</a>
                    
                </div>
                <div class="login-signup">
                    <button class="nav-btn-white">Login/SignUp</button>
                    <button class="nav-btn-dark">Get a Queue</button>
                </div>
            </div>
        </nav>
    </header> -->
    <%- include('./partials/navbar.ejs') %>
    <main>
        <section class="dentist-heading" >
            <div class="top">
                <h1>Dentistry</h1>
                <h5>Home / Dentistry</h5>
            </div>
        </section>

        <section class="vaccine">
            <div class="large-screen">
                <h2>Vaccination</h2>

                <div class="img-and-about">
                    <div class="vaccine-img">
                        <img src="/css-tasks/src/assets/dentist.jpg" alt="dentist image">
                    </div>
                    <div class="about-dentist">
                        <h4>About Dentist Department</h4>
                        <p>The vaccination of dentist against various vaccine-preventable 
                            infection is the most important measure of primary prevantion against   
                            such diseases which would otherwise prove fetal for both the dentist and 
                            their patients.
                        </p>
                        <ul>
                            <li>CF-related diabetese(monthly)</li>
                            <li>Gastointestinal (monthly)</li>
                            <li>CF-related disease(monthly)</li>
                            <li>Sweat testing</li>
                        </ul>
                    </div>
                </div>
            </div>
                
            <div class="disease">
                <div class="disease-item">
                    <div class="disease-logo">
                        <i class="fas fa-stethoscope fa-2x"></i>
                    </div>
                    <h5>Central Nervous System</h5>
                    <p>Open visitation with only two visitors  in a room at any time
                        .No one under 12 years of age may.
                    </p>
                </div>
                <div class="disease-item">
                    <div class="disease-logo">
                        <i class="fas fa-tablets fa-2x"></i>
                    </div>
                    
                    <h5>Allergic Disorder</h5>
                    <p>Open visitation with only two visitors  in a room at any time
                        .No one under 12 years of age may.
                    </p>
                </div>
                <div class="disease-item">
                    <div class="disease-logo">
                    <i class="fas fa-heartbeat fa-2x"></i>
                    </div>
                    <h5>Neuropathic Disorder</h5>
                    <p>Open visitation with only two visitors  in a room at any time
                        .No one under 12 years of age may.
                    </p>
                </div>
            </div>
    
            <!-- </div> -->
            
            <div class="service-cards">
                <div id="service01" class="service-details">
                    <h5>Service Details</h5>
                    <div class="service-items">
                        <div class="service-element">
                            <h6>Price</h6>
                            <h6 class="light">from $340</h6>
                        </div>
                        <div class="service-element">
                            <h6>Duration</h6>
                            <h6 class="light">10 minutes</h6>
                        </div>
                        <div class="service-element">
                            <h6>Office</h6>
                            <h6 class="light">#46</h6>
                        </div>
                        <div class="service-element">
                            <h6>Doctor</h6>
                            <h6 class="light">Dr. Elizabeth Beard</h6>
                        </div>
                        <div class="service-element">
                            <h6>Category</h6>
                            <h6 class="light">Family</h6>
                        </div>
                        
                    </div>
                </div>
                <div id="service02" class="service-details">
                    <h5>Schedules</h5>
                    <div class="service-items">
                        <div class="service-item">
                            <div class="service-element">
                                <h6>Tuesday</h6>
                                <h6 class="light">10:00am-01:00pm</h6>
                            </div>
                            <div class="service-element">
                                <h6>Friday</h6>
                                <h6 class="light">07:00am-10:00am</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>

        <section class="more-services">
            <div class="more-services-heading">
                <h2>More Services</h2>
                <div class="heading-left-right">
                    <i class="fas fa-chevron-circle-left fa-2x"></i>
                    <i class="fas fa-chevron-circle-right fa-2x"></i>
                </div> 
            </div>
            <div class="service-cards">
                <div id="card1" class="service-card">
                    <div class="card-img">
                        <img src="/css-tasks/src/assets/image--008.jpg" alt="">
                    </div>
                    <div class="card-heading">
                        <h3>Ortohopedic Surgery</h3>
                    </div>
                </div>
                <div id="card2" class="service-card">
                    <div class="card-img">
                        <img src="/css-tasks/src/assets/image--010.jpg" alt="">
                    </div>
                    <div class="card-heading">
                        <h3>Cancer</h3>
                    </div>
                </div>
                <div id="card3" class="service-card">
                    <div class="card-img">
                        <img src="/css-tasks/src/assets/image--011.jpg" alt="">
                    </div>
                    <div class="card-heading">
                        <h3>Cardiology</h3>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- <footer>
            <div class="footer-img">
                <img src="../assets/footer.png" alt="Logo">
            </div>
            <div class="footer-services">
                <a href="doctor.html">Doctors</a>
                <br>
                <a href="hospital.html">Hospital</a>
                <br>
                <a href="treatment.html">Treatement</a>
                <br>
                <a href="other-services.html">Other Services</a>
                <br>
                <a href="faq.html">FAQs</a>
            </div>
            <div class="footer-social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-pinterest"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-instagram"></i>
            </div>
            <div class="last-line">
                <h5>All Rights Reserved. &copy; tvastra 2018</h5>
            </div>        
    </footer> -->
    <%- include('./partials/footer.ejs') %>
    <script src="../js/script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    type="text/javascript"></script>
</body>
</html>