
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/tvastraPlus.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <title>Tvastra</title>
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %>
    <section class="head">
        <div class="plus">PLUS</div>
        <h1>Healthcare Plans for you and your family</h1>
        <p>Become a Tvastra Plus member and save upto 60% on your annual healthe expenses</p>
        <div class="white-card">
            <h2>Select a Tvastra Plus Healthcare Plan</h2>
            <p>All plus plans are for 4 adults and 2 children</p>
            <hr>
            <div class="basic plan">
                <h3>Basic Plan</h3>
                <p>Ultimate consultation with any speciality</p>
                <p>20% off on prescription medicines</p>
                <p>20% off on tests and checkups</p>
                <div class="price-and-buy">
                    <h2><i class="fas fa-rupee-sign"></i>2,999<span>/year</span></h2>
                    <h4>View plan details</h4>
                    <button>Buy Plan</button>
                </div>
            </div>
            <div class="popular">
                <h5>popular</h5>
            </div>
            <div class="advanced plan">
                
                <h3>Advanced Plan</h3>
                <p>Ultimate consultation with any speciality</p>
                <p>20% off on prescription medicines</p>
                <p>20% off on tests $checkups</p>
                <p>10 Free In-Clinic consultations</p>
                <div class="price-and-buy">
                    <h2><i class="fas fa-rupee-sign"></i>3,999<span>/year</span></h2>
                    <h4>View plan details</h4>
                    <button>Buy Plan</button>
                </div>
            </div>
            <div class="comprehensive plan">
                <h3>Comprehensive Plan</h3>
                <p>Unlimited consultation with any speciality</p>
                <p>20% off on prescribed medicines</p>
                <p>20% off on tests and checkups</p>
                <p>10 Free In-Clinic consultation</p>
                <p>2 Master health chechups</p>
                <div class="price-and-buy">
                    <h2><i class="fas fa-rupee-sign"></i>5,999<span>/year</span></h2>
                    <h4>View plan details</h4>
                    <button>Buy Plan</button>
                </div>
            </div>
        </div>
    </section>

    <section class="review">
        <h2>Trusted by 2 crore+ users every month</h2>
        <p>Tvastra is the leading healthcare technology company in India. We began 
            in 2009 and today we help 2 crore users every month.
        </p>
        <h2>4.5</h2>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <p>1000+ Reviews</p>
        </div>
        
        <div class="ratings">
            <div class="five">
                <span>5</span>
                <div class="row">
                    <div class="row-like"></div>
                </div>
            </div>
            <div class="fout">
                <span>4</span>
            </div>
            <div class="three">
                <span>3</span>
            </div>
            <div class="two">
                <span>2</span>
            </div>
            <div class="one">
                <span>1</span>
            </div>
        </div>
        <div class="countings">
            <div class="each-counting">
                <h4>2 crore+</h4>
                <p>Monthly coustumers</p>
            </div>
            <div class="each-counting">
                <h4>100,000+</h4>
                <p>Verified Doctors</p>
            </div>
            <div class="each-counting">
                <h4>10 Lakh+</h4>
                <p>Medicines Order Delivery </p>
            </div>
            <div class="each-counting">
                <h4>5 Crore+</h4>
                <p>Doctors Appointment</p>
            </div>
        </div>

        <div class="benifits">
            <h5>Benifits of Plus Membership</h5>
            <h3>Zero Fees for in-clinic consultaions</h3>
            <p>consult with 30000+ specialist Doctors at top clinic and hospitals
                in the PLUS network at Rs.0 consultation fees*
            </p>
            <p>Upto 10 in-clinic consultation can be used by any family member over 12 month period.</p>
            <h4>Top Hospitals onboard</h4>
            <div class="hosital-imgs">
                <div class="hospital">
                    <img src="../assets/sakra.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="../assets/psri.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="../assets/artemis.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="../assets/people-tree.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="../assets/birla.svg" alt="">
                </div>
                <div class="hospital">
                    <img src="../assets/pratiksha.svg" alt="">
                </div>
            </div>
            <p>+ More Hospitals</p>

            <h3>Ultimate online consultation with top doctors</h3>
            <p>Get all your health query answered from any specialist online, any time of the day</p>
            <p>Connect under 2 minutes on text, call or video -available 24hrs. 7 days of week</p>
            <p>All online consultations are confidential. Only patients and doctor can access the chats</p>
            <img src="../assets/order.jpg" alt="">

            <h3>Flat 20% off on prescription medicine, lab tests & checkups</h3>
            <p>Save money on medicines and lab tests for your entire family</p>
            <p>Get flat 20% off on medicines that requier prescription and flat 20% off on lab tests and health checkups</p>
            <p>No questions asked, no minimum order value, no limits. Available in 100+ cities across India</p>
            <img src="../assets/order.jpg" alt="">

            <h3>2 Free health checkups</h3>
            <p>Discuss your test results through online consultations. Recieve E-Reports with in 48hrs</p>
            <p>Home sample pickup</p>
            <p>Tabs are NABL, CAB Accredited</p>
            <p>Checkups can be booked anytime, even weekends. Tax deduction under 80D</p>
            <img src="../assets/checkup.jpg" alt="">
            <h6>60 Tests included</h6>
            <div class="test-cards">
                <div class="test-card">
                    <img src="../assets/Vitamin+test.svg" alt="">
                    <h5>Vitamin profile</h5>
                    <p>2 tests</p>
                </div>
                <div class="test-card">
                    <img src="../assets/Iron+def.svg" alt="">
                    <h5>Iron Deficiency profile</h5>
                    <p>3 tests</p>
                </div>
                <div class="test-card">
                    <img src="../assets/Thyroid.svg" alt="">
                    <h5>Thyroid profile</h5>
                    <p>3 tests</p>
                </div>
                <div class="test-card">
                    <img src="../assets/Liver.svg" alt="">
                    <h5>Liver profile</h5>
                    <p>11 tests</p>
                </div>
            </div>
            <div class="love-tvastra">
                <h3>Why we love Tvastra <span>PLUS</span></h3>
                <div class="love-cards">
                    <div class="love-card">
                        <h6>"Wonderful experienct with Tvastra-PLUS
                             it helped me a lot of amount as it provides free consultation
                            with best doctors
                        </h6>
                        <div class="detail">
                            <img src="../assets/Icons-04.png" alt="">
                            <h5>Rishab Tiwari</h5>
                            <h6>Adbanced plan user</h6>
                        </div>
                    </div>
                    <div class="love-card">
                        <h6>"Fantastic experience with health test using Tvastra Plus. Didn't 
                            pay anything for test. I came to know my dificiency in vitamins 
                            where family doctor feature helped me with medicines. 
                        </h6>
                        <div class="detail">
                            <img src="../assets/Icons-04.png" alt="">
                            <h5>Mini Agarwal</h5>
                            <h6>Comprehensive plan user</h6>
                        </div>
                    </div>
                    <div class="love-card">
                        <h6>"27X7 access to doctors in just 60 seconds with 2 kids
                            , one of them is bound to fall sick. Comes in super handy."
                        </h6>
                        <div class="detail">
                            <img src="../assets/Icons-04.png" alt="">
                            <h5>Prachi Gupta</h5>
                            <h6>Comprehensive plan user</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq">
                <h3>Frequently Asked Questions</h3>
                <div class="question">
                    <h5>How does free in-clinic doctors and hospitals work?</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Provident corrupti consectetur quod ipsam at? Sapiente
                         vero unde consequuntur repellat provident? Impedit amet
                        quas in, obcaecati est maiores sunt delectus commodi
                       quod explicabo voluptas nam itaque nihil vero
                    </p>
                </div>
                <div class="question">
                    <h5>Are there any type of doctors not included in 
                        Tvastra PLUS in-clinic consultation network?
                    </h5>
                </div>
                <div class="question">
                    <h5>How do the Unlimited online consultation works?</h5>
                </div>
                <div class="question">
                    <h5>How does flat 20% off on medicines works</h5>
                </div>
                <div class="question">
                    <h5>How does flat 20% off on lab tests works</h5>
                </div>
            </div>
        </div>

    </section>
        
    <%- include('./partials/footer.ejs') %>

   
</body>
</html>