
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/theme.css">
    <link rel="stylesheet" href="../css/tvastraPlus.css">
    <link rel="stylesheet" href="../assets/fontawesome-free-5.13.0-web/css/all.css">
    <title>Tvastra</title>
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %>
    <section class="head">
        <div class="plus">PLUS</div>
        <h1>Healthcare Plans for you and your family</h1>
        <p>Become a Tvastra Plus member and save upto 60% on your annual healthe expenses</p>
        <div class="white-card">
            <h2>Select a Tvastra Plus Healthcare Plan</h2>
            <p>All plus plans are for 4 adults and 2 children</p>
            <hr>
            <div class="plans">
                <div class="basic plan">
                    <div class="plan-info">
                        <h3>Basic Plan</h3>
                        <p>Ultimate consultation with any speciality</p>
                        <p>20% off on prescription medicines</p>
                        <p>20% off on tests and checkups</p>    
                    </div>
                    <div class="price-and-buy">
                        <h2><i class="fas fa-rupee-sign"></i>2,999<span>/year</span></h2>
                        <h4>View plan details</h4>
                        <button>Buy Plan</button>
                    </div>
                </div>
                
                <div class="advanced plan">
                    <div class="popular">
                        <h5>popular</h5>
                    </div>
                    <div class="plan-info">
                        <h3>Advanced Plan</h3>
                        <p>Ultimate consultation with any speciality</p>
                        <p>20% off on prescription medicines</p>
                        <p>20% off on tests $checkups</p>
                        <p>10 Free In-Clinic consultations</p>    
                    </div>
                    <div class="price-and-buy">
                        <h2><i class="fas fa-rupee-sign"></i>3,999<span>/year</span></h2>
                        <h4>View plan details</h4>
                        <button>Buy Plan</button>
                    </div>
                </div>
                <div class="comprehensive plan">
                    <div class="plan-info">
                        <h3>Comprehensive Plan</h3>
                        <p>Unlimited consultation with any speciality</p>
                        <p>20% off on prescribed medicines</p>
                        <p>20% off on tests and checkups</p>
                        <p>10 Free In-Clinic consultation</p>
                        <p>2 Master health chechups</p>    
                    </div>
                    <div class="price-and-buy">
                        <h2><i class="fas fa-rupee-sign"></i>5,999<span>/year</span></h2>
                        <h4>View plan details</h4>
                        <button>Buy Plan</button>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <section class="review">
        <h2>Trusted by 2 crore+ users every month</h2>
        <p>Tvastra is the leading healthcare technology company in India. We began 
            in 2009 and today we help 2 crore users every month.
        </p>
        <div class="rating-div">
            <div class="stars-div">
                <h1>4.5</h1>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <p>1000+ Reviews</p>
                </div>    
            </div>

            <div class="ratings">
                <div class="five">
                    <span>5</span>
                    <div class="row">
                        <div class="row-like"></div>
                    </div>
                </div>
                <div class="four">
                    <span>4</span>
                    <div class="row">
                        <div class="row-like"></div>
                    </div>
                </div>
                <div class="three">
                    <span>3</span>
                    <div class="row">
                        <div class="row-like"></div>
                    </div>
                </div>
                <div class="two">
                    <span>2</span>
                    <div class="row">
                        <div class="row-like"></div>
                    </div>
                </div>
                <div class="one">
                    <span>1</span>
                    <div class="row">
                        <div class="row-like"></div>
                    </div>
                </div>
            </div>
            
        </div>
        
        
        <div class="countings">
            <div class="each-counting">
                <i class="fas fa-user-friends fa-2x"></i>
                <h4>2 crore+</h4>
                <p>Monthly coustumers</p>
            </div>
            <div class="each-counting">
                <i class="fas fa-user-md fa-2x"></i>
                <h4>100,000+</h4>
                <p>Verified Doctors</p>
            </div>
            <div class="each-counting">
                <i class="fas fa-pills fa-2x"></i>
                <h4>10 Lakh+</h4>
                <p>Medicines Order Delivery </p>
            </div>
            <div class="each-counting">
                <i class="fas fa-calendar-check fa-2x"></i>
                <h4>5 Crore+</h4>
                <p>Doctors Appointment</p>
            </div>
        </div>

        <div class="benifits">
            <h5 class="heading-benifit">Benifits of Plus Membership</h5>

            <div class="zero-and-top">
                <div class="zero-fees">
                    <h3>Zero Fees for in-clinic consultaions</h3>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>consult with 30000+ specialist Doctors at top clinic and hospitals
                            in the PLUS network at Rs.0 consultation fees*
                        </p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Upto 10 in-clinic consultation can be used by any family member over 12 month period.</p>
                    </div>    
                </div>
    
                <div class="top-hospitals">
                    <h4>Top Hospitals onboard</h4>
                    <table class="hospital-imgs">
                        <tr>
                            <td>
                                <div class="hospital">
                                    <img src="../assets/sakra.svg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="hospital">
                                    <img src="../assets/psri.svg" alt="">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="hospital">
                                    <img src="../assets/artemis.svg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="hospital">
                                    <img src="../assets/people-tree.svg" alt="">
                                </div>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <div class="hospital">
                                    <img src="../assets/birla.svg" alt="">
                                </div>
                            </td>
                            <td>
                                <div class="hospital">
                                    <img src="../assets/pratiksha.svg" alt="">
                                </div>
                            </td>
                            
                        </tr>
                        
                    </table>
                    <p>+ More Hospitals</p>
                </div>    
            </div>
            
            <div class="unlimited-and-video">
                <div class="unlimited">
                    <h3>Ultimate online consultation with top doctors</h3>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Get all your health query answered from any specialist online, any time of the day</p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Connect under 2 minutes on text, call or video -available 24hrs. 7 days of week</p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>All online consultations are confidential. Only patients and doctor can access the chats</p>
                    </div>                
                </div>
                <div class="video-call">
                    <img src="../assets/order.jpg" alt="">
                </div>
            </div>
            

            <div class="unlimited-and-video-2">
                <div class="unlimited">
                    <h3>Flat 20% off on prescription medicine, lab tests & checkups</h3>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Save money on medicines and lab tests for your entire family</p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Get flat 20% off on medicines that requier prescription and flat 20% off on lab tests and health checkups</p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>No questions asked, no minimum order value, no limits. Available in 100+ cities across India</p>
                    </div>
                </div>

                <div class="video-call">
                    <img src="../assets/order.jpg" alt="">
                </div> 
            </div>
            
            

            <div class="unlimited-and-video">
                <div class="unlimited">
                    <h3>2 Free health checkups</h3>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Discuss your test results through online consultations. Recieve E-Reports with in 48hrs</p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Home sample pickup</p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Tabs are NABL, CAB Accredited</p>
                    </div>
                    <div class="para-div">
                        <div class="tick"><i class="fas fa-check-circle"></i></div>
                        <p>Checkups can be booked anytime, even weekends. Tax deduction under 80D</p>
                    </div>
                </div>

                <div class="video-call">
                    <img src="../assets/checkup.jpg" alt="">
                </div> 
            </div>

            
            
            <div class="tests">
                <h5>60 Tests included</h5>
                <div class="test-cards">
                    <div class="test-card">
                        <img src="../assets/Vitamin+test.svg" alt="">
                        <h5>Vitamin profile</h5>
                        <p>2 tests</p>
                    </div>
                    <div class="test-card">
                        <img src="../assets/Iron+def.svg" alt="">
                        <h5>Iron Deficiency profile</h5>
                        <p>3 tests</p>
                    </div>
                    <div class="test-card">
                        <img src="../assets/Thyroid.svg" alt="">
                        <h5>Thyroid profile</h5>
                        <p>3 tests</p>
                    </div>
                    <div class="test-card">
                        <img src="../assets/Liver.svg" alt="">
                        <h5>Liver profile</h5>
                        <p>11 tests</p>
                    </div>
                </div>
                <div class="test-btns">
                    <span class='blue'>&#9679;</span>
                    <span>&#9679;</span>
                </div>
            </div>

            
            <div class="love-tvastra">
                <h3>Why we love Tvastra <span class="plus">PLUS</span></h3>
                <div class="love-cards">
                    <div class="love-card">
                        <h5>"Wonderful experienct with Tvastra-PLUS
                             it helped me a lot of amount as it provides free consultation
                            with best doctors
                        </h5>
                        <div class="detail">
                            <div class="detail-image">
                                <img src="../assets/image--002.jpg" alt="">
                            </div>
                            <h4>Rishab Tiwari</h4>
                            <h5 class='user'>Adbanced plan user</h5>
                        </div>
                    </div>
                    <div class="love-card">
                        <h5>"Fantastic experience with health test using Tvastra Plus. Didn't 
                            pay anything for test. I came to know my dificiency in vitamins 
                            where family doctor feature helped me with medicines. 
                        </h5>
                        <div class="detail">
                            <div class="detail-image">
                                <img src="../assets/image--002.jpg" alt="">
                            </div>
                            <h4>Mini Agarwal</h4>
                            <h5 class='user'>Comprehensive plan user</h5>
                        </div>
                    </div>
                    <div class="love-card">
                        <h5>"27X7 access to doctors in just 60 seconds with 2 kids
                            , one of them is bound to fall sick. Comes in super handy."
                        </h5>
                        <div class="detail">
                            <div class="detail-image">
                                <img src="../assets/image--002.jpg" alt="">
                            </div>
                            <h4>Prachi Gupta</h4>
                            <h5 class="user">Comprehensive plan user</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="faq">
                <h3>Frequently Asked Questions</h3>
                <div class="questions">
                    <h4>How do I make payment</h4>
                    <div onclick="downUp(1)">
                        <i id='down1'  class="fas fa-angle-down"></i>
                        <i id='up1'  class="fas fa-angle-up" style='display: none;'></i>
                    </div>
                </div>
                <p id='detail1' class='detail-para' style="display: none;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ratione deleniti minima, expedita sed soluta doloribus 
                    et alias hic iure debitis dicta modi fugit, placeat veniam
                        enim, repellendus laudantium sit pariatur? 
                </p>
                <div class="questions">
                    <h4>There is not enough money in my Portea Wallet for making a payment.
                        How do I make payment</h4>
                    <div onclick="downUp(2)">
                        <i id='down2'  class="fas fa-angle-down"></i>
                        <i id='up2'  class="fas fa-angle-up" style='display: none;'></i>
                    </div>
                </div>
                <p id='detail2' class='detail-para' style="display: none;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ratione deleniti minima, expedita sed soluta doloribus 
                    et alias hic iure debitis dicta modi fugit, placeat veniam
                        enim, repellendus laudantium sit pariatur? 
                </p>
                <div class="questions">
                    <h4>How do I make payment</h4>
                    <div onclick="downUp(3)">
                        <i id='down3'  class="fas fa-angle-down"></i>
                        <i id='up3'  class="fas fa-angle-up" style='display: none;'></i>
                    </div>
                </div>
                <p id='detail3' class='detail-para' style="display: none;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ratione deleniti minima, expedita sed soluta doloribus 
                    et alias hic iure debitis dicta modi fugit, placeat veniam
                        enim, repellendus laudantium sit pariatur? 
                </p>
                <div class="questions">
                    <h4>How do I make payment</h4>
                    <div onclick="downUp(4)">
                        <i id='down4'  class="fas fa-angle-down"></i>
                        <i id='up4'  class="fas fa-angle-up" style='display: none;'></i>
                    </div>
                </div>
                <p id='detail4' class='detail-para' style="display: none;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ratione deleniti minima, expedita sed soluta doloribus 
                    et alias hic iure debitis dicta modi fugit, placeat veniam
                        enim, repellendus laudantium sit pariatur? 
                </p>
                <div class="questions">
                    <h4>How do I make payment</h4>
                    <div onclick="downUp(5)">
                        <i id='down5'  class="fas fa-angle-down"></i>
                        <i id='up5'  class="fas fa-angle-up" style='display: none;'></i>
                    </div>
                </div>
                <p id='detail5' class='detail-para' style="display: none;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ratione deleniti minima, expedita sed soluta doloribus 
                    et alias hic iure debitis dicta modi fugit, placeat veniam
                        enim, repellendus laudantium sit pariatur? 
                </p>
                <div class="questions">
                    <h4>How do I make payment</h4>
                    <div onclick="downUp(6)">
                        <i id='down6'  class="fas fa-angle-down"></i>
                        <i id='up6'  class="fas fa-angle-up" style='display: none;'></i>
                    </div>
                </div>
                <p id='detail6' class='detail-para' style="display: none;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ratione deleniti minima, expedita sed soluta doloribus 
                    et alias hic iure debitis dicta modi fugit, placeat veniam
                        enim, repellendus laudantium sit pariatur? 
                </p>
                <div class="questions">
                    <h4>How do I make payment</h4>
                    <div onclick="downUp(7)">
                        <i id='down7'  class="fas fa-angle-down"></i>
                        <i id='up7'  class="fas fa-angle-up" style='display: none;'></i>
                    </div>
                </div>
                <p id='detail7' class='detail-para' style="display: none;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ratione deleniti minima, expedita sed soluta doloribus 
                    et alias hic iure debitis dicta modi fugit, placeat veniam
                        enim, repellendus laudantium sit pariatur? 
                </p>
                
            </div>
        </div>

    </section>
        
    <%- include('./partials/footer.ejs') %>
    <script>
        
        function downUp(num){
            var arrowdown = document.getElementById('down'+num);
            var arrowup =document.getElementById('up'+num);
            var detail = document.getElementById('detail'+num);
            console.log(arrowdown.style);
            if(arrowdown.style.display === 'none'){
                arrowup.style.display = 'none';
                arrowdown.style.display = 'block';
                detail.style.display = 'none';
            }else{
                arrowup.style.display = 'block';
                arrowdown.style.display = 'none';
                detail.style.display = 'block';
            }
        }

    </script>
   
</body>
</html>