<header>
    <nav class="nav">
        <div class="logo-and-bars">
            <div class="logo-img">
                <img src="../assets/Logo.jpg" alt="logo">
            </div>
            <div class="bars">
                <button id="bars-button">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
        <div id="mobile-view" class="nav-open hidden">
            <div class="nav-expended">
                <a href="doctor.html">Doctors</a>
                
                <a href="hospital.html">Hospitals</a>
                
                <a href="treatment.html">Treatment</a>
                
                <a href="other-services.html">Other Services</a>
                
                <a href="about.html">about</a>
                
            </div>
            <div class="login-signup">
                <button class="nav-btn-white">Login/SignUp</button>
                <button class="nav-btn-dark">Get a Queue</button>
            </div>
        </div>
    </nav>
</header>