<header>
    <nav class="nav">
        <div class="logo-and-bars">
            <div class="logo-img">
                <a href="/">
                    <img src="../assets/Logo.jpg" alt="logo">
                </a>
            </div>
            <div class="bars" onclick="burger()">
                <button id="bars-button">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
        <div id="mobile-view" class="nav-open hidden">
            <div class="nav-expended">
                <a href="doctor">Doctors</a>
                
                <a href="hospital">Hospitals</a>
                
                <a href="treatment">Treatment</a>
                
                <a href="other-services">Other Services</a>
                
                <a href="aboutUs">about</a>
                
            </div>
             
             
        <% if(locals.user){%> 
            <div class="login-signup">
                <a href="tvastraPlus">
                    <button class="nav-btn-white">tvastraPlus</button>
                </a>
                <a href="appointment">
                    <button class="nav-btn-dark">Get a Queue</button>

                </a><% console.log(locals.user.name) %> 
                <div class="drop-down">
                    <span><%= locals.user.name %> </span>
                    <div class="drop-items">
                        <a href="profile">Profile</a>
                        <a href="logout">logout</a>

                    </div>
                </div>
            </div>
        <% } else{%>
            
            <div class="login-signup">
                <a href="login">
                    <button class="nav-btn-white">Login/SignUp</button>
                </a>
                <a href="appointment">
                    <button class="nav-btn-dark">Get a Queue</button>

                </a>
            </div>
        <%} %>  
        </div>
    </nav>
    <script src="../../js/navbar.js"></script>
</header>