@font-face {
  font-family: Nexa-Bold;
  src: url(../assets/Nexa-Bold.otf);
}

@font-face {
  font-family: Nexa-Light;
  src: url(../assets/Nexa-Light.otf);
}

* {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #9cbfda;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #999;
          box-shadow: 0.5rem 0.5rem 0.5rem #999;
}

body main .login-detail {
  padding: 0;
  background-color: #fff;
  width: 350px;
}

body main .login-detail h3 {
  text-align: center;
  width: 100%;
  color: #0173b2;
  padding: 1.3rem;
  border-bottom: 1px solid #999;
  margin-bottom: .5rem;
}

body main .login-detail .login {
  padding-top: 1rem;
  padding: 2rem;
}

body main .login-detail .login .email-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dbd9d9;
  height: 100%;
  margin-bottom: .8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .login-detail .login .email-div input {
  border: none;
  margin: 0;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

body main .login-detail .login .email-div .i-div {
  padding: 0 1rem;
}

body main .login-detail .login .email-div .i-div i {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #dbd9d9;
  cursor: pointer;
}

body main .login-detail .login .email-div .i-div .active {
  color: #2a2d3e;
  display: none;
  background-color: #fff;
}

body main .login-detail .login input {
  text-align: left;
  margin-bottom: .8rem;
  height: 2.5rem;
}

body main .login-detail .login button {
  width: 100%;
  margin-bottom: 1rem;
  height: 2.5rem;
}

body main .login-detail .login button span {
  float: right;
}

body main .login-detail h6 {
  text-align: center;
  padding: 1rem;
}

body main .login-detail h6 a {
  font-family: Nexa-Bold;
  color: #0173b2;
}

body footer {
  padding-bottom: 1rem;
  margin: 0;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #9cbfda;
}

body footer .last-line h5 {
  text-align: center;
  color: black;
}

@media (min-width: 700px) {
  body main .login-detail {
    width: 400px;
  }
  body main .login-detail .other-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body footer {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
/*# sourceMappingURL=login.css.map */