@font-face {
  font-family: Nexa-Bold;
  src: url(../assets/Nexa-Bold.otf);
}

@font-face {
  font-family: Nexa-Light;
  src: url(../assets/Nexa-Light.otf);
}

* {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  color: #2a2d3e;
  font-family: Nexa-Bold;
}

h2 {
  font-size: 1.7rem;
  color: #2a2d3e;
  font-family: Nexa-Bold;
}

h3 {
  font-size: 1.5rem;
  color: #2a2d3e;
  font-family: Nexa-Bold;
}

h4 {
  font-size: 1.2rem;
  color: #2a2d3e;
  font-family: Nexa-Bold;
}

h5 {
  font-size: 1rem;
  color: #2a2d3e;
  font-family: Nexa-Bold;
}

h6 {
  font-size: .8rem;
  color: #2a2d3e;
  font-family: Nexa-Bold;
}

ul, li {
  font-family: Nexa-Light;
  border: 1px solid black;
}

button {
  font-family: Nexa-Bold;
  color: white;
  background-color: #2a2d3e;
  border: 1px solid #2a2d3e;
  padding: 0 1rem;
  margin: .2rem 0;
  height: 2.5rem;
  border-radius: 2px;
  text-align: center;
}

input {
  text-align: left;
  padding-left: 1rem;
  margin: .2rem 0;
  height: 2.5rem;
  font-family: Nexa-Light;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #dbd9d9;
  color: #000;
}

::-webkit-input-placeholder {
  font-family: Nexa-Light;
  color: #999;
  font-size: .8rem;
  text-align: left;
}

:-ms-input-placeholder {
  font-family: Nexa-Light;
  color: #999;
  font-size: .8rem;
  text-align: left;
}

::-ms-input-placeholder {
  font-family: Nexa-Light;
  color: #999;
  font-size: .8rem;
  text-align: left;
}

::placeholder {
  font-family: Nexa-Light;
  color: #999;
  font-size: .8rem;
  text-align: left;
}

input[type=checkbox] {
  margin-right: 10px;
  height: 1rem;
  width: 1rem;
}

label {
  text-align: left;
}

input[list] {
  height: 2.5rem;
  font-size: .8rem;
  color: black;
  border: 1px solid #dbd9d9;
}

::-webkit-input-placeholder {
  color: #999;
}

:-ms-input-placeholder {
  color: #999;
}

::-ms-input-placeholder {
  color: #999;
}

::placeholder {
  color: #999;
}

input[type=date] {
  font-size: .8rem;
  text-align: left;
  border: 1px solid #dbd9d9;
}

input[type=date]::-webkit-input-placeholder {
  color: #dbd9d9;
}

input[type=date]:-ms-input-placeholder {
  color: #dbd9d9;
}

input[type=date]::-ms-input-placeholder {
  color: #dbd9d9;
}

input[type=date]::placeholder {
  color: #dbd9d9;
}

select {
  font-family: Nexa-Light;
  font-size: .8rem;
  height: 2.5rem;
  width: 100%;
  background-color: #fff;
  padding-left: 1rem;
  margin: .2rem 0;
  border-color: #dbd9d9;
  color: #000;
}

a {
  text-decoration: none;
  font-family: Nexa-Light;
}

a:hover {
  font-family: Nexa-Bold;
}

p {
  font-family: Nexa-Light;
  font-size: 1rem;
  line-height: 20px;
  margin: 1rem 0;
}

section {
  padding: 2rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.active {
  background-color: #999;
}

.dots {
  display: none;
}

.nav {
  padding: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.nav .logo-and-bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .logo-and-bars .logo-img {
  height: 2rem;
}

.nav .logo-and-bars .logo-img img {
  height: 100%;
}

.nav .logo-and-bars .bars button {
  background-color: #fff;
  color: #2a2d3e;
  border: none;
  cursor: pointer;
}

.nav .logo-and-bars .bars button:hover {
  background-color: #999;
  color: #2a2d3e;
}

.nav .nav-open {
  background-color: #999;
  padding: 1rem 0;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: none;
}

.nav .nav-open .nav-expended {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .nav-open .nav-expended a {
  color: #2a2d3e;
  text-decoration: none;
  cursor: pointer;
}

.nav .nav-open .login-signup .nav-btn-white {
  background-color: white;
  font-size: .8rem;
  color: #2a2d3e;
  border: 1px solid #2a2d3e;
  border-radius: 3px;
}

.nav .nav-open .login-signup .nav-btn-white:hover {
  font-family: Nexa-Bold;
  cursor: pointer;
}

.nav .nav-open .login-signup .nav-btn-dark {
  background-color: #2a2d3e;
  font-size: .8rem;
  color: #fff;
  border: 1px solid #2a2d3e;
  border-radius: 3px;
}

.nav .nav-open .login-signup .nav-btn-dark:hover {
  font-family: Nexa-Bold;
}

.need-help {
  height: 100%;
  background-color: #9cbfda;
}

.need-help h2 {
  color: #fff;
}

.need-help button {
  border-radius: .4rem;
  background-color: #0173b2;
  border: none;
}

footer {
  padding: 2rem;
  height: 100%;
  background-color: #2a2d3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-img {
  width: 40vw;
  text-align: center;
  margin: 1rem;
}

footer .footer-img img {
  width: 100%;
}

footer .footer-services a {
  text-decoration: none;
  color: #fff;
  line-height: 2rem;
}

footer .footer-social {
  margin: 1rem 0;
}

footer .footer-social i {
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
}

footer .last-line {
  margin-top: .5rem;
}

footer .last-line h5 {
  color: #fff;
}

@media (min-width: 700px) {
  footer {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    background-color: #fff;
  }
  footer .footer-img {
    width: 200px;
  }
  footer .footer-img img {
    width: 100%;
  }
  footer .footer-services {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-services a {
    padding: 0 5px;
    color: #2a2d3e;
  }
  footer .footer-social i {
    color: #2a2d3e;
    padding: .8rem;
  }
  footer .last-line h5 {
    color: #2a2d3e;
  }
}

@media (min-width: 1024px) {
  h1 {
    text-align: left;
  }
  h2 {
    text-align: left;
  }
  h3 {
    text-align: left;
  }
  h4 {
    text-align: left;
  }
  h5 {
    text-align: left;
  }
  h6 {
    text-align: left;
  }
  p {
    text-align: left;
  }
  section {
    padding: 5rem;
  }
  .dots {
    display: block;
    text-align: left;
    margin-top: 1rem;
  }
  .dots .active-dot {
    color: #0173b2;
  }
  .dots span {
    margin: .2rem;
  }
  .nav {
    padding: 1rem 2rem 1rem 0rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .nav .logo-and-bars {
    width: 25%;
    padding-left: 0rem;
  }
  .nav .logo-and-bars .logo-img {
    width: 100%;
    height: 2.5rem;
  }
  .nav .logo-and-bars .bars {
    display: none;
  }
  .nav .nav-open {
    background-color: #fff;
    padding: 0;
    line-height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 75%;
  }
  .nav .nav-open .nav-expended {
    padding-top: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav .nav-open .nav-expended a {
    color: #2a2d3e;
    text-decoration: none;
    cursor: pointer;
  }
  .nav .nav-open .login-signup .nav-btn-white {
    width: 130px;
  }
  .nav .nav-open .login-signup .nav-btn-dark {
    width: 130px;
  }
  .need-help {
    padding: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  .need-help button {
    height: auto;
    margin-top: .7rem;
    font-size: 1rem;
    padding: 1rem 4rem;
    border-radius: 5px;
    border: none;
    background-color: #0173b2;
  }
  footer {
    padding: 2rem 5rem;
  }
  .message {
    position: absolute;
    right: 1rem;
    top: 6rem;
    height: 3rem;
    width: 20rem;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .5rem;
    background-color: #fff;
    -webkit-box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #999;
            box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #999;
  }
  .message .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .message .information i {
    margin-right: 1rem;
  }
  .message .information .data {
    -ms-flex-item-align: left;
        -ms-grid-row-align: left;
        align-self: left;
  }
  .message .close {
    margin-right: .5rem;
    color: #2a2d3e;
    cursor: pointer;
  }
  .error {
    border-left: 0.3rem solid #cc0000;
  }
  .error i, .error h3, .error h4 {
    color: #cc0000;
  }
  .success {
    border-left: 0.3rem solid #1bb812;
  }
  .success i, .success h3, .success h4 {
    color: #1bb812;
  }
  .info {
    border-left: 0.3rem solid #BD6DF2;
  }
  .info i, .info h3, .info h4 {
    color: #BD6DF2;
  }
}
/*# sourceMappingURL=theme.css.map */