@font-face {
  font-family: Nexa-Bold;
  src: url(../assets/Nexa-Bold.otf);
}

@font-face {
  font-family: Nexa-Light;
  src: url(../assets/Nexa-Light.otf);
}

* {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.plus {
  font-size: 1rem;
  border: 1px solid #0173b2;
  border-radius: .3rem;
  width: 4rem;
  text-align: center;
  background-color: #0173b2;
  color: #fff;
  padding: .5rem .5rem .4rem .5rem;
  font-family: Nexa-Bold;
  margin: 1rem auto;
}

.head {
  background-image: url("../../assets/tvastraPlus_heroSection.webp");
  background-size: cover;
  padding: 1rem;
}

.head .white-card {
  background-color: #fff;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: .3rem;
  -webkit-box-shadow: .1rem;
          box-shadow: .1rem;
}

.head .white-card hr {
  border-top: 1px solid #dbd9d9;
  color: #fff;
}

.head .white-card .plan {
  padding: 1.5rem 3.5rem;
  color: #000;
}

.head .white-card .plan h3 {
  color: #000;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dbd9d9;
}

.head .white-card .plan h2, .head .white-card .plan p {
  color: #000;
}

.head .white-card .plan .price-and-buy {
  margin-top: 5rem;
}

.head .white-card .plan .price-and-buy h2 {
  margin: 1rem;
}

.head .white-card .plan .price-and-buy h2 span {
  font-size: 1.3rem;
}

.head .white-card .plan .price-and-buy h4 {
  color: #0173b2;
  margin: 1rem;
}

.head .white-card .plan .price-and-buy button {
  color: #fff;
  background-color: #0173b2;
  border: none;
  border-radius: 5px;
  font-family: Nexa-Bold;
}

.head .white-card .advanced {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(190, 226, 247, 0.8)), to(rgba(190, 226, 247, 0)));
  background-image: linear-gradient(to bottom, rgba(190, 226, 247, 0.8), rgba(190, 226, 247, 0));
}

.head .white-card .popular {
  position: relative;
  top: .6rem;
}

.head .white-card .popular h5 {
  border: none;
  border-radius: 1rem;
  width: 5.5rem;
  margin: auto;
  padding: .1rem 1rem;
  background-color: #1bb812;
  color: #fff;
}

.review {
  padding: 3rem 1rem;
}

.review h1, .review i {
  color: #0173b2;
}

.review .rating-div .ratings {
  text-align: center;
  margin-bottom: 3rem;
}

.review .rating-div .ratings .five {
  width: 15rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .rating-div .ratings .five .row {
  margin-left: 1rem;
  width: 100%;
  height: 1rem;
  background-color: #dbd9d9;
  border: 1px solid #dbd9d9;
  border-radius: 1rem;
  overflow: hidden;
}

.review .rating-div .ratings .five .row .row-like {
  width: 60%;
  height: 1rem;
  background-color: #0173b2;
  border: 1px solid #0173b2;
  border-radius: 1rem;
}

.review .rating-div .ratings .four {
  width: 15rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .rating-div .ratings .four .row {
  margin-left: 1rem;
  width: 100%;
  height: 1rem;
  background-color: #dbd9d9;
  border: 1px solid #dbd9d9;
  border-radius: 1rem;
  overflow: hidden;
}

.review .rating-div .ratings .four .row .row-like {
  width: 40%;
  height: 1rem;
  background-color: #0173b2;
  border: 1px solid #0173b2;
  border-radius: 1rem;
}

.review .rating-div .ratings .three {
  width: 15rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .rating-div .ratings .three .row {
  margin-left: 1rem;
  width: 100%;
  height: 1rem;
  background-color: #dbd9d9;
  border: 1px solid #dbd9d9;
  border-radius: 1rem;
  overflow: hidden;
}

.review .rating-div .ratings .three .row .row-like {
  width: 30%;
  height: 1rem;
  background-color: #0173b2;
  border: 1px solid #0173b2;
  border-radius: 1rem;
}

.review .rating-div .ratings .two {
  width: 15rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .rating-div .ratings .two .row {
  margin-left: 1rem;
  width: 100%;
  height: 1rem;
  background-color: #dbd9d9;
  border: 1px solid #dbd9d9;
  border-radius: 1rem;
  overflow: hidden;
}

.review .rating-div .ratings .two .row .row-like {
  width: 20%;
  height: 1rem;
  background-color: #0173b2;
  border: 1px solid #0173b2;
  border-radius: 1rem;
}

.review .rating-div .ratings .one {
  width: 15rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .rating-div .ratings .one .row {
  margin-left: 1rem;
  width: 100%;
  height: 1rem;
  background-color: #dbd9d9;
  border: 1px solid #dbd9d9;
  border-radius: 1rem;
  overflow: hidden;
}

.review .rating-div .ratings .one .row .row-like {
  width: 10%;
  height: 1rem;
  background-color: #0173b2;
  border: 1px solid #0173b2;
  border-radius: 1rem;
}

.review .countings {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.review .countings i {
  margin-bottom: 1rem;
}

.review .benifits .heading-benifit {
  margin: auto;
  width: 13rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #9cbfda;
  margin-bottom: 1rem;
}

.review .benifits .para-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.review .benifits .para-div .tick {
  margin-right: 1rem;
}

.review .benifits .para-div p {
  text-align: left;
  margin: 0;
}

.review .benifits h4 {
  margin: 1rem 0;
}

.review .benifits .hospital-imgs {
  border: none;
  width: 100%;
}

.review .benifits .hospital-imgs td {
  border: 1px solid black;
}

.review .benifits .unlimited {
  padding: 0 1rem;
}

.review .benifits .unlimited h3 {
  margin: 2rem;
}

.review .benifits .unlimited .video-call {
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem #999;
          box-shadow: 0.3rem 0.3rem 0.3rem #999;
  margin: 2rem 0 3rem 0;
}

.review .benifits .tests h5 {
  border: none;
}

.review .benifits .tests .test-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review .benifits .tests .test-cards .test-card {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #999;
          box-shadow: 0.5rem 0.5rem 0.5rem #999;
  width: 48%;
  height: 15rem;
}

.review .benifits .tests .test-cards .test-card h5, .review .benifits .tests .test-cards .test-card p {
  margin: 0;
  padding: 0;
}

.review .benifits .tests .test-cards .test-card img {
  width: 5rem;
}

.review .benifits .tests .test-btns {
  margin: 1rem 0 2rem 0;
}

.review .benifits .tests .test-btns .blue {
  color: #0173b2;
}

.review .benifits .love-tvastra {
  margin-bottom: 3rem;
}

.review .benifits .love-tvastra h3 {
  margin-bottom: 2rem;
}

.review .benifits .love-tvastra .love-cards .love-card {
  margin-bottom: 1rem;
  height: 13rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #999;
          box-shadow: 0.5rem 0.5rem 0.5rem #999;
}

.review .benifits .love-tvastra .love-cards .love-card h5, .review .benifits .love-tvastra .love-cards .love-card h4 {
  margin: 0;
  text-align: left;
}

.review .benifits .love-tvastra .love-cards .love-card .detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review .benifits .love-tvastra .love-cards .love-card .detail .detail-image {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50%;
  overflow: hidden;
}

.review .benifits .love-tvastra .love-cards .love-card .detail .detail-image img {
  height: 6rem;
}

.review .benifits .love-tvastra .love-cards .love-card .detail .user {
  border-radius: 1rem;
  height: 3rem;
  width: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9cbfda;
  color: #0173b2;
}

.review .benifits .faq .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.3rem 0;
}

.review .benifits .faq .questions h4 {
  margin-top: .5rem;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  text-align: left;
  color: #0173b2;
}

.review .benifits .faq .questions div {
  background-color: #9cbfda;
  border-radius: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.review .benifits .faq .questions div i {
  padding: .5rem .3rem;
}

.review .benifits .faq p {
  text-align: left;
  line-height: 1.5rem;
  background-color: #9cbfda;
  padding: 1rem;
}

@media (min-width: 700px) {
  .head {
    padding: 3rem;
  }
  .head .plus {
    margin-left: 0;
  }
  .head h1, .head p {
    text-align: left;
  }
  .head .white-card {
    margin-top: 5rem;
  }
  .head .white-card p {
    text-align: center;
  }
  .head .white-card .plans {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .head .white-card .plans .plan {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .review {
    padding-bottom: 0;
  }
  .review .rating-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .review .benifits .heading-benifit {
    width: 20rem;
  }
  .review .benifits .zero-and-top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .review .benifits .unlimited-and-video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .review .benifits .unlimited-and-video-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .review .benifits .tests h5 {
    text-align: left;
  }
  .review .benifits .love-tvastra h3 {
    text-align: left;
  }
  .review .benifits .love-tvastra .love-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .review .benifits .love-tvastra .love-cards .love-card {
    width: 50%;
  }
  .review .benifits .faq h3 {
    text-align: left;
  }
  .review .benifits .faq .questions h4 {
    -webkit-box-flex: 18;
        -ms-flex: 18;
            flex: 18;
  }
  .review .benifits .faq .questions div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (min-width: 1024px) {
  .head .white-card .plans .plan .plan-info h3 {
    text-align: center;
  }
  .head .white-card .plans .plan .price-and-buy {
    margin: auto;
  }
  .review h2, .review p {
    text-align: center;
  }
}
/*# sourceMappingURL=tvastraPlus.css.map */